<div class="animated fadeInUp">
  <p-panel header="Possition Buttons" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div class="row">
      <div class="col-md-12">
        <ngx-modal [header]="'Delete Buttons'" [iconClass]="'fas fa-trash-alt'" [width]="1000"
          [buttonCss]="'btn btn-outline-danger mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Edit Button'" [iconClass]="'fas fa-pen'" [width]="1000"
          [buttonCss]="'btn btn-outline-warning mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Add Buttons'" [iconClass]="'fa fa-plus'" [width]="1000"
          [buttonCss]="'btn btn-outline-primary mr-3 btn-sm float-right'"></ngx-modal>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Team A</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Team B</button>
      </div>
    </div>
  </p-panel>
</div>
<div class="animated fadeInUp">
  <p-panel header="Standerd Set Pieces Buttons" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div class="row">
      <div class="col-md-12">
        <ngx-modal [header]="'Delete Buttons'" [iconClass]="'fas fa-trash-alt'" [width]="1000"
          [buttonCss]="'btn btn-outline-danger mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Edit Button'" [iconClass]="'fas fa-pen'" [width]="1000"
          [buttonCss]="'btn btn-outline-warning mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Add Buttons'" [iconClass]="'fa fa-plus'" [width]="1000"
          [buttonCss]="'btn btn-outline-primary mr-3 btn-sm float-right'"></ngx-modal>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Kick Off</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Corner</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Throw In</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Penalty</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Free Kick</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Goal Kick</button>
      </div>
    </div>
  </p-panel>
</div>
<div class="animated fadeInUp">
  <p-panel header="Game Set Pieces Buttons" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div class="row">
      <div class="col-md-12">
        <ngx-modal [header]="'Delete Buttons'" [iconClass]="'fas fa-trash-alt'" [width]="1000"
          [buttonCss]="'btn btn-outline-danger mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Edit Button'" [iconClass]="'fas fa-pen'" [width]="1000"
          [buttonCss]="'btn btn-outline-warning mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Add Buttons'" [iconClass]="'fa fa-plus'" [width]="1000"
          [buttonCss]="'btn btn-outline-primary mr-3 btn-sm float-right'"></ngx-modal>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Shot</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Cross</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Tackie</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Foul</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Pass</button>
      </div>
    </div>
  </p-panel>
</div>
<div class="animated fadeInUp">
  <p-panel header="Tactic Shot Outcome" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div class="row">
      <div class="col-md-12">
        <ngx-modal [header]="'Delete Buttons'" [iconClass]="'fas fa-trash-alt'" [width]="1000"
          [buttonCss]="'btn btn-outline-danger mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Edit Button'" [iconClass]="'fas fa-pen'" [width]="1000"
          [buttonCss]="'btn btn-outline-warning mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Add Buttons'" [iconClass]="'fa fa-plus'" [width]="1000"
          [buttonCss]="'btn btn-outline-primary mr-3 btn-sm float-right'"></ngx-modal>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Shot</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Cross</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Tackie</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Foul</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Pass</button>
      </div>
    </div>
  </p-panel>
</div>
<div class="animated fadeInUp">
  <p-panel header="Tactic Cross Replacement" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div class="row">
      <div class="col-md-12">
        <ngx-modal [header]="'Delete Buttons'" [iconClass]="'fas fa-trash-alt'" [width]="1000"
          [buttonCss]="'btn btn-outline-danger mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Edit Button'" [iconClass]="'fas fa-pen'" [width]="1000"
          [buttonCss]="'btn btn-outline-warning mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Add Buttons'" [iconClass]="'fa fa-plus'" [width]="1000"
          [buttonCss]="'btn btn-outline-primary mr-3 btn-sm float-right'"></ngx-modal>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Shot</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Cross</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Tackie</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Foul</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Pass</button>
      </div>
    </div>
  </p-panel>
</div>
<div class="animated fadeInUp">
  <p-panel header="Tactic Pass Description" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div class="row">
      <div class="col-md-12">
        <ngx-modal [header]="'Delete Buttons'" [iconClass]="'fas fa-trash-alt'" [width]="1000"
          [buttonCss]="'btn btn-outline-danger mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Edit Button'" [iconClass]="'fas fa-pen'" [width]="1000"
          [buttonCss]="'btn btn-outline-warning mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Add Buttons'" [iconClass]="'fa fa-plus'" [width]="1000"
          [buttonCss]="'btn btn-outline-primary mr-3 btn-sm float-right'"></ngx-modal>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Shot</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Cross</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Tackie</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Foul</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Pass</button>
      </div>
    </div>
  </p-panel>
</div>
<div class="animated fadeInUp">
  <p-panel header="Tactic Penalty" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div class="row">
      <div class="col-md-12">
        <ngx-modal [header]="'Delete Buttons'" [iconClass]="'fas fa-trash-alt'" [width]="1000"
          [buttonCss]="'btn btn-outline-danger mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Edit Button'" [iconClass]="'fas fa-pen'" [width]="1000"
          [buttonCss]="'btn btn-outline-warning mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Add Buttons'" [iconClass]="'fa fa-plus'" [width]="1000"
          [buttonCss]="'btn btn-outline-primary mr-3 btn-sm float-right'"></ngx-modal>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Shot</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Cross</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Tackie</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Foul</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Pass</button>
      </div>
    </div>
  </p-panel>
</div>
<div class="animated fadeInUp">
  <p-panel header="Team A" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div class="row">
      <div class="col-md-12">
        <ngx-modal [header]="'Delete Buttons'" [iconClass]="'fas fa-trash-alt'" [width]="1000"
          [buttonCss]="'btn btn-outline-danger btn-sm mr-3 float-right'"></ngx-modal>
        <ngx-modal [header]="'Edit Button'" [iconClass]="'fas fa-pen'" [width]="1000"
          [buttonCss]="'btn btn-outline-warning btn-sm mr-3 float-right'"></ngx-modal>
        <ngx-modal [header]="'Add Buttons'" [iconClass]="'fa fa-plus'" [width]="1000"
          [buttonCss]="'btn btn-outline-primary btn-sm mr-3 float-right'"></ngx-modal>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Ferjani Sassi</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Shikabala</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Mahmoud Abdel Rahim</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Tarek Hamed</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Mostafa Fathi</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Hamdi Nagguez</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Mahmoud Alaa</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Ayman Hefny</button>
      </div>
    </div>
  </p-panel>
</div>
<div class="animated fadeInUp">
  <p-panel header="Team B" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div class="row">
      <div class="col-md-12">
        <ngx-modal [header]="'Delete Buttons'" [iconClass]="'fas fa-trash-alt'" [width]="1000"
          [buttonCss]="'btn btn-outline-danger mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Edit Button'" [iconClass]="'fas fa-pen'" [width]="1000"
          [buttonCss]="'btn btn-outline-warning mr-3 btn-sm float-right'"></ngx-modal>
        <ngx-modal [header]="'Add Buttons'" [iconClass]="'fa fa-plus'" [width]="1000"
          [buttonCss]="'btn btn-outline-primary mr-3 btn-sm float-right'"></ngx-modal>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Ferjani Sassi</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Shikabala</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Mahmoud Abdel Rahim</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Tarek Hamed</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Mostafa Fathi</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Hamdi Nagguez</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Mahmoud Alaa</button>
        <button type="button" class="btn btn-sm ml-2 mb-1 btn-outline-success">Ayman Hefny</button>
      </div>
    </div>
  </p-panel>
</div>
