<div class="animated slow fadeInDown">

  <div class="row">
    <div class="col-md-12">
      <button type="button"
              class="btn btn-warning animated slow fadeInDown  float-right"
              (click)="showAddNewPageDialog();pagesForm.resetForm()"><i
        class="fa fa-plus"></i> Add New
        Action Group Page
      </button>
    </div>

    <p-dialog header="New Action Page" [(visible)]="displayAddNewPage" [modal]="true" [responsive]="true"
              [style]="{width: '350px', minWidth: '200px'}" [minY]="70" appendTo="body"
              [baseZIndex]="10000">
      <form action="" style="width: 99%;" #pagesForm="ngForm" autocomplete="off" (submit)="onSubmit()">
        <input type="hidden" name="id" [value]="groupService.group.id">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white">
                    <i class="far fa-file-alt" [class.green-icon]="nameAr.valid"
                       [class.red-icon]="nameAr.invalid && nameAr.touched"></i>
                  </div>
                </div>
                <input id="nameAr" type="text" class="form-control" name="nameAr"
                       [(ngModel)]="groupService.group.nameAr"
                       #nameAr="ngModel" placeholder="Insert Name In Arabic" required>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white">
                    <i class="far fa-file-alt" [class.green-icon]="nameEn.valid"
                       [class.red-icon]="nameEn.invalid && nameEn.touched"></i>
                  </div>
                </div>
                <input id="nameEn" type="text" class="form-control" name="nameEn"
                       [(ngModel)]="groupService.group.nameEn"
                       #nameEn="ngModel" placeholder="Insert Name In English" required>
              </div>
            </div>
          </div>
          <hr>
          <div class="col-md-12">
            <button class="btn btn-outline-success btn-block btn-sm" type="submit" [disabled]="pagesForm.invalid"><i
              class="far fa-check-square"></i> Submit
            </button>
          </div>
        </div>
      </form>
    </p-dialog>
  </div>
</div>
<div class="animated slower fadeInUp" *ngIf="allPages.length !== 0">
  <p-tabView (onChange)="onChangeTab($event.index)">
    <ng-container *ngFor="let item of allPages;let i = index;">
      <p-tabPanel [header]="item.nameAr" [selected]="i == tabIndex">
        <div class="row">
          <div class="col-md-12 ">
            <button class="btn btn-outline-danger mr-2 float-right btn-sm" (click)="showDeletePageDialog(item)"><i
              class="fas fa-ban"></i> Delete Page
            </button>
            <button class="btn btn-outline-secondary mr-2 float-right btn-sm" (click)="populateForm(item)"><i
              class="far fa-edit"></i> Update Page
            </button>
          </div>

        </div>
        <ngx-action *ngIf="i === tabIndex" [pageName]="item.nameAr" [groupId]="item.id"
                    [categories]="categories" [hasDefault]="hasDefault"></ngx-action>
      </p-tabPanel>
    </ng-container>

  </p-tabView>
</div>

<p-dialog header="Delete Page" [(visible)]="displayDeletePage" [modal]="true" [responsive]="true"
          [minY]="70" appendTo="body" [style]="{width: '350px', minWidth: '200px'}"
          [baseZIndex]="10000">
  <div class="text-center">
    <i class="fas fa-exclamation-circle fa-4x text-danger "></i>
  </div>
  <br>
  <h6 class="text-center">
    Are You Sure To Delete This Page?!
  </h6>
  <br>
  <button class="btn btn-outline-danger btn-sm btn-block" type="submit" (click)="onDelete()"><i class="fas fa-bomb"></i>
    Delete
  </button>

</p-dialog>
