<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px; display:inline-block; margin-top:2px;">{{teamName}}</span>
    </div>
  </p-header>
  <div class="row">
    <div class="col-md-6 text-center" *ngFor="let x of teamData">
      <div class="btn-group dropright">
        <button type="button" class="btn btn-light">
          {{x.nameAr}}
        </button>
        <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropright</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item text-warning" (click)="changePlayer()"> <i class="fas fa-exchange-alt"></i>
            Change Player</a>
        </div>
      </div>
    </div>
  </div>

</p-panel>
<p-dialog header="Change Player" [(visible)]="displayChangePlayer" [modal]="true" [responsive]="true" appendTo="body"
          [minY]="70" [baseZIndex]="10000">
  <!--  <p-pickList [source]="sourceCars" [target]="targetCars" sourceHeader="All Players" targetHeader="Selected Players"-->
  <!--              [responsive]="true" filterBy="brand"-->
  <!--              dragdrop="true" sourceFilterPlaceholder="Search by Players" targetFilterPlaceholder="Search by Players"-->
  <!--              [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">-->
  <!--    <ng-template let-car pTemplate="item">-->
  <!--      <div class="ui-helper-clearfix">-->
  <!--        <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block; margin:2px 0 2px 2px;"-->
  <!--             width="48">-->
  <!--        <div style="font-size:14px; float:right; margin:15px 5px 0 0;">{{car.brand}} - {{car.year}}-->
  <!--          - {{car.color}}</div>-->
  <!--      </div>-->
  <!--    </ng-template>-->
  <!--  </p-pickList>-->
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayChangePlayer=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="displayChangePlayer=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
