<!--<p-panel>-->
<!--  <p-header>-->
<!--    <div class="ui-helper-clearfix">-->
<!--      <span class="ui-panel-title" style="font-size:16px; display:inline-block; margin-top:2px;">{{teamName}}</span>-->
<!--    </div>-->
<!--  </p-header>-->
<!--  -->
<!--</p-panel>-->


<div class="row">
  <div class="col-md-12">
    <h3 class="display-4 linear-wipe text-center">
      {{clubName}} - {{teamName}}
    </h3>
  </div>
</div>
<br>
<div class="card border-dark mb-3">
  <div class="card-header text-secondary text-center">In Match {{inMatchPlayer.length}} Players</div>
  <div class="card-body text-dark">
    <div class="row">
      <div *ngFor="let player of inMatchPlayer;" class="col-md-6">
        <div class="btn-group m-1 mb-3 dropdown">
          <button type="button" class="btn btn-sm"
                  style="white-space:nowrap; max-width: 120px; overflow: hidden; text-overflow: ellipsis;"
                  [ngClass]="{'btn-success': selectedIndex === player.id && isTeamA, 'btn-primary' : selectedIndex !== player.id || !isTeamA}"
                  (click)="onPlayerClick(player)">
            <span *ngIf="player.playerNum">({{player.playerNum}}) -</span>
            <span style="text-overflow: ellipsis; overflow: hidden; white-space:nowrap;">
               {{player.nickNameEn}}
            </span>

          </button>
          <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropright</span>
          </button>
          <div class="dropdown-menu">
            <!--        <a class="dropdown-item text-warning" style="cursor: pointer;" (click)="changePlayer(x.id)"> <i-->
            <!--          class="fas fa-exchange-alt"></i>-->
            <!--          Change Player</a>-->
            <a class="dropdown-item text-danger" style="cursor: pointer;" (click)="outMatch(player)"> <i
              class="fas fa-long-arrow-alt-left"></i>
              Player Out</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="fixed-bottom">
  <p-panel header="Choose Players" [toggleable]="true" collapsed="true">
    <div class="panel">
      <div *ngFor="let x of teamData;" class="btn-group m-1 dropdown">
        <button type="button" class="btn btn-default btn-sm">
          <span *ngIf="x.playerNum">({{x.playerNum}}) -</span>{{x.nickNameEn}}
        </button>
        <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropright</span>
        </button>
        <div class="dropdown-menu">
          <!--        <a class="dropdown-item text-warning" style="cursor: pointer;" (click)="changePlayer(x.id)"> <i-->
          <!--          class="fas fa-exchange-alt"></i>-->
          <!--          Change Player</a>-->
          <a class="dropdown-item text-primary" style="cursor: pointer;" (click)="inMatch(x)"> <i
            class="fas fa-long-arrow-alt-right"></i>
            Player In</a>
        </div>
      </div>
    </div>
  </p-panel>

</div>

<p-dialog header="Change Player" [(visible)]="displayChangePlayer" [modal]="true" [responsive]="true" appendTo="body"
          [style]="{width: '350px', minWidth: '300px'}"
          [minY]="70" [baseZIndex]="10000">
  <div class="list-group">
    <button type="button" *ngFor="let x of changePlayerData" (click)="changePlayerOnMatch(x)"
            class="list-group-item list-group-item-action">
      {{x.nameAr}}
    </button>
  </div>
</p-dialog>
