<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px; display:inline-block; margin-top:2px;">{{teamName}}</span>
    </div>
  </p-header>
  <div>
    <div>
      <div *ngFor="let x of teamData" class="btn-group m-2 dropright">
        <button type="button" class="btn  btn-light" (click)="onPlayerClick(x)">
          {{x.nameAr}}
        </button>
        <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropright</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item text-warning" (click)="changePlayer()"> <i class="fas fa-exchange-alt"></i>
            Change Player</a>
        </div>
      </div>
    </div>
  </div>

</p-panel>
<p-dialog header="Change Player" [(visible)]="displayChangePlayer" [modal]="true" [responsive]="true" appendTo="body"
          [minY]="70" [baseZIndex]="10000">

  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayChangePlayer=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="displayChangePlayer=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
