<div class="row">
  <div class="col-md-3 animated slow fadeInUp line-in-middle">
    <!--    <ngx-user-card></ngx-user-card>-->
    <div class="card shadow">
      <img
        [src]="playerData?.imagePath != null ? playerData?.imagePath.includes('data:image')?playerData?.imagePath: apiEndPoint+ playerData?.imagePath: '../assets/images/default-avatar-png-5.png'"
        alt="Avatar">
      <div class="container">
        <h4><b>{{playerData?.nickNameAr}}</b></h4>
        <p>{{playerData?.postions}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-9 animated slow fadeInRight">
    <p-tabView>
      <p-tabPanel header="Data">
        <p-fieldset legend="Name" styleClass="myFieldset">
          <span for="">{{playerData?.nameAr}}</span>
        </p-fieldset>
        <p-fieldset legend="Known As" styleClass="myFieldset">
          <span for="">{{playerData?.nickNameAr}}</span>
        </p-fieldset>
        <p-fieldset legend="Date Of Birth" styleClass="myFieldset">
          <span for="">{{playerData?.birthDate | date}}</span>
        </p-fieldset>
        <p-fieldset legend="Height" styleClass="myFieldset">
          <span for="">{{playerData?.height}}</span>
        </p-fieldset>
        <p-fieldset legend="Player Work Rate (Attacking/Defensive)" styleClass="myFieldset">
          <span for="">Medium / High</span>
        </p-fieldset>
        <p-fieldset legend="Preferred Foot" styleClass="myFieldset">
          <span for="">{{playerData?.preferred}}</span>
        </p-fieldset>
        <!--        <p-fieldset legend="Week Feet" styleClass="myFieldset">-->
        <!--          <p-rating [ngModel]="val1" disabled="true" stars="10"></p-rating>-->
        <!--        </p-fieldset>-->
        <p-fieldset legend="Skill Moves" styleClass="myFieldset">
          <p-rating [ngModel]="val1" disabled="true" stars="10"></p-rating>
        </p-fieldset>
      </p-tabPanel>
      <p-tabPanel header="Matches">
        <p-accordion>
          <p-accordionTab header="Ahly Vs. Zamalik">
            <p-table [value]="matches">
              <ng-template pTemplate="header">
                <tr>
                  <th>Date</th>
                  <th>Team A</th>
                  <th>Team B</th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-match>
                <tr>
                  <td>{{match.date}}</td>
                  <td>{{match.teamA}}</td>
                  <td>{{match.teamB}}</td>
                  <td>View Match</td>
                </tr>
              </ng-template>
            </p-table>
          </p-accordionTab>
          <p-accordionTab header="Barcelona Vs. Real Madrid">
            <p-table [value]="matches">
              <ng-template pTemplate="header">
                <tr>
                  <th>Date</th>
                  <th>Team A</th>
                  <th>Team B</th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-match>
                <tr>
                  <td>{{match.date}}</td>
                  <td>{{match.teamA}}</td>
                  <td>{{match.teamB}}</td>
                  <td>View Match</td>
                </tr>
              </ng-template>
            </p-table>
          </p-accordionTab>
          <p-accordionTab header="Atletico Madrid Vs. Liverpool">
            <p-table [value]="matches">
              <ng-template pTemplate="header">
                <tr>
                  <th>Date</th>
                  <th>Team A</th>
                  <th>Team B</th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-match>
                <tr>
                  <td>{{match.date}}</td>
                  <td>{{match.teamA}}</td>
                  <td>{{match.teamB}}</td>
                  <td>View Match</td>
                </tr>
              </ng-template>
            </p-table>
          </p-accordionTab>
        </p-accordion>
      </p-tabPanel>
      <p-tabPanel header="Analysis">
        <div class="row" style="margin-bottom: 1em;">
          <div class="col-md-6">
            <button type="button" class="btn btn-outline-primary float-left"
                    (click)="openNext()"><i
              class="fas fa-sort-amount-down"></i> Next Tactic
            </button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-outline-primary float-right"
                    (click)="openPrev()">Previous Tactic <i class="fas fa-sort-amount-up"></i></button>
          </div>
        </div>
        <p-accordion [activeIndex]="indexAnalysis">
          <p-accordionTab header="Tactic 1">
            <p-progressBar [value]="50"></p-progressBar>
          </p-accordionTab>
          <p-accordionTab header="Tactic 2">
            <p-progressBar [value]="70"></p-progressBar>
          </p-accordionTab>
          <p-accordionTab header="Tactic 3">
            <p-progressBar [value]="40"></p-progressBar>
          </p-accordionTab>
          <p-accordionTab header="Tactic 4">
            <p-progressBar [value]="90"></p-progressBar>
          </p-accordionTab>
        </p-accordion>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
