<p-table #dt [columns]="cols" [value]="players" selectionMode="multiple">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td>
        <button title="Go To Player" routerLink="../../player/1" class="btn btn-sm btn-outline-primary">
          <i class="fas fa-user-tag"></i>
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="row">
      <div class="col-md-6">
        <button (click)="exportExcel()" class="btn btn-success btn-sm float-left">
          <i class="fas fa-file-excel"></i>
          Export Excel Sheet
        </button>
      </div>
      <div class="col-md-6">
        <button (click)="exportPdf()" class="btn btn-danger btn-sm float-right">
          <i class="fas fa-file-pdf"></i>
          Export PDF Sheet
        </button>
      </div>
    </div>
  </ng-template>
</p-table>
