<div class="card text-center shadow-lg animated fadeInDownBig slower">
  <div class="card-header">
    <h3 class="linear-wipe">
      Welcome To UpStrike
    </h3>
  </div>
  <div class="card-body">
    <form #loginForm="ngForm" autocomplete="off" (submit)="onLogin()">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-user-tag" [class.green-icon]="UserName.valid"
                 [class.red-icon]="UserName.invalid && UserName.touched"></i>
            </div>
          </div>
          <input id="UserName" name="userName" [(ngModel)]="loginFormModel.username" #UserName="ngModel"
                 type="text" class="form-control" placeholder="Enter Your User Name" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-user-lock" [class.green-icon]="Password.valid"
                 [class.red-icon]="Password.invalid && Password.touched"></i>
            </div>
          </div>
          <input type="password" class="form-control" placeholder="Enter Your Password"
                 #Password="ngModel" name="password" [(ngModel)]="loginFormModel.password" required>
        </div>
      </div>
      <div class="row" *ngIf="errorMessage">
        <div class="col-md-12 text-center">
          <i class="fas fa-bomb text-warning"></i>
          <p class="text-danger">{{errorMessage}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button type="submit" class="btn btn-block btn-outline-success" routerLink="/register"><i
            class="fas fa-user-plus"></i> Registration
          </button>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-block btn-outline-primary" [disabled]="loginForm.invalid">
            <span *ngIf="spinner === true" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
            <i *ngIf="spinner === false" class="fas fa-sign-in-alt"></i> Login
          </button>
        </div>
        <div class="col-md-12 text-center">
          <br>
          <a href="#" class="text-danger stretched-link">Forget Password?</a>
        </div>
      </div>
    </form>
  </div>
</div>
