<p-table #dt [columns]="cols" [value]="allUsers" [paginator]="true" [rows]="10" dataKey="id">
  <ng-template pTemplate="caption">
    <div class="ui-helper-clearfix">
      <button type="button" (click)="dt.exportCSV()" class="btn btn-outline-primary float-left"><i
        class="fas fa-file-download"></i> All Data
      </button>
      <button type="button" class="btn btn-warning float-right"><i
        class="fas fa-user-plus"></i> Add New User
      </button>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-expanded="expanded" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <div *ngIf="col.field === 'creationDate'; then nested_object_content  else normal_content "></div>
        <ng-template #nested_object_content>
          {{rowData[col.field] |  date: 'dd-MM-yyyy'}}
        </ng-template>
        <ng-template #normal_content>
          {{rowData[col.field]}}
        </ng-template>

      </td>
      <td>
        <div class="row text-center">
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-success" [routerLink]="['../user/' , rowData.id]"><i
              class="far fa-user"></i></button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-secondary"
                    (click)="getUserSubscriptions(rowData.id);"><i
              class="fas fa-table"></i></button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-info" (click)="showActivationDialog(rowData.id, rowData.name)">
              <i
                class="fas fa-code"></i></button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-outline-danger"><i class="fas fa-user-times"></i></button>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    There are {{allUsers?.length}} Users
  </ng-template>
</p-table>


<p-dialog header="All Subscriptions" [(visible)]="displayAllUserSubscriptions" [modal]="true" [responsive]="true"
          [style]="{width: '750px', minWidth: '650px'}" [minY]="70"
          [baseZIndex]="10000" appendTo="body">
  <p-table #dt [columns]="colsUserSubscriptions" [value]="allUserSubscriptions" [paginator]="true" [rows]="10"
           dataKey="id">
    <ng-template pTemplate="caption">
      <div class="ui-helper-clearfix">
        <form action="" #userSubscriptionForm="ngForm">
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                      <i class="fab fa-audible" [class.green-icon]="nameAr.valid"
                         [class.red-icon]="nameAr.invalid && nameAr.touched"></i>
                    </div>
                  </div>
                  <select class="form-control" id="exampleFormControlSelect1" name="nameAr"
                          [(ngModel)]="userAccountService.userSubscription.subscriptionsId"
                          #nameAr="ngModel">
                    <option disabled selected>Choose Subscription</option>
                    <option *ngFor="let subscription of allSubscriptions"
                            [value]="subscription.id">{{subscription.nameAr}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                      <i class="fas fa-calendar-alt" [class.green-icon]="subscriptionsDate.valid"
                         [class.red-icon]="subscriptionsDate.invalid && subscriptionsDate.touched"></i>
                    </div>
                  </div>
                  <input id="nameAr" type="date" class="form-control" name="subscriptionsDate"
                         [(ngModel)]="userAccountService.userSubscription.subscriptionsDate"
                         #subscriptionsDate="ngModel" required>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-warning text-center" (click)="addSubscriptionToUser()"><i
                class="fas fa-user-plus"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-expanded="expanded" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
          <ng-template #nested_object_content>
            {{rowData[col.field][col.subfield]}}
          </ng-template>
          <ng-template #normal_content>
            {{rowData[col.field] | date: 'dd-MM-yyyy'}}
          </ng-template>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      There are {{allUserSubscriptions?.length}} Subscriptions
    </ng-template>
  </p-table>
</p-dialog>

<p-dialog header="Verification Code" [(visible)]="displayActivationCode" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '350px'}" [minY]="70"
          [baseZIndex]="10000" appendTo="body">
  <div class="text-center">
    <i class="fas fa-check-double fa-4x text-success"></i>
  </div>
  <br>
  <h6 class="text-center">
    Are You Sure To Activate {{userName}}?!
  </h6>
  <br>
  <button class="btn btn-outline-success btn-sm btn-block" type="submit" (click)="sendVerificationCode()">
                <span *ngIf="spinner === true" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
    <i *ngIf="spinner === false"
       class="far fa-thumbs-up"></i>
    Activate
  </button>
</p-dialog>
