<!--<div class="row" style="margin-bottom: 1em">-->
<!--  <div class="col-md-6">-->
<!--    <button type="button" class="btn btn-outline-primary  animated slow fadeInLeft float-left" (click)="openNext()"><i-->
<!--      class="fas fa-sort-amount-down"></i> Next Report-->
<!--    </button>-->

<!--  </div>-->
<!--  <div class="col-md-6">-->
<!--    <button type="button" class="btn btn-outline-primary  animated slow fadeInRight float-right"-->
<!--            (click)="openPrev()">Previous Report <i class="fas fa-sort-amount-up"></i></button>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="container animated slow fadeInUp">-->
<!--  <p-panel header="Legends" [toggleable]="true" [style]="{'margin-bottom':'15px'}">-->
<!--    <div class="row">-->
<!--      <div class="col-md-2">-->
<!--        <span><b>6m </b>: 6 Metre Shots</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> 6mO </b>: In_flight shots</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> 9m </b>: 9 Metre Shots</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> Wing </b>: Wing Shots</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> 7m </b>: 7m Penalty Shots</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> FB </b>: Fast Breaks</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> BT </b>: Breakthroughs</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> AS </b>: Assists</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> R7 </b>: Received 7m-Fouls</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> ST </b>: Steals</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> TO </b>: Turnover</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> BS </b>: Blocked Shots</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> DB </b>: Defence Blocks</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> AI </b>: Attack Interruptions</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> YC </b>: Yellow Cards</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> 2M </b>: 2 Minute Suspensions</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> RC </b>: Red Cards</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> FTO </b>: Fast Throw Off</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> 2+2 </b>: 2+2 Minute Suspensions</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> FTO EX </b>: Exclusions</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> NS </b>: Near zone shots (incl: 6m, 6m0,Wing,BT)</span>-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <span><b> PPT </b>: Player Played Time</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </p-panel>-->

<!--</div>-->
<!--<div class="animated slow fadeInUp">-->
<!--  <p-accordion [activeIndex]="index">-->
<!--    <p-accordionTab header="Cumulative Team Statistics">-->

<!--      <p-table [value]="cumulativeTeamStatistics">-->
<!--        <ng-template pTemplate="header">-->
<!--          <tr>-->
<!--            <th style="width: 90px;" rowspan="2">No. Player</th>-->
<!--            <th rowspan="2">M P</th>-->
<!--            <th colspan="3">Total</th>-->
<!--            <th colspan="9">All Goals / Shots</th>-->
<!--            <th colspan="5">Punishments</th>-->
<!--            <th colspan="4">Offence</th>-->
<!--            <th colspan="3">Defence</th>-->
<!--            <th style="width: 90px;" rowspan="2">TP</th>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th colspan="1">Goals</th>-->
<!--            <th colspan="1">Shots</th>-->
<!--            <th colspan="1">%</th>-->
<!--            <th colspan="1">7m</th>-->
<!--            <th colspan="1">7m%</th>-->
<!--            <th colspan="1">6m</th>-->
<!--            <th colspan="1">6mO</th>-->
<!--            <th colspan="1">9m</th>-->
<!--            <th colspan="1">Wing</th>-->
<!--            <th colspan="1">BT</th>-->
<!--            <th colspan="1">FTO</th>-->
<!--            <th colspan="1">FB</th>-->
<!--            <th colspan="1">YC</th>-->
<!--            <th colspan="1">RC</th>-->
<!--            <th colspan="1">2M</th>-->
<!--            <th colspan="1">2+2</th>-->
<!--            <th colspan="1">EX</th>-->
<!--            <th colspan="1">AS</th>-->
<!--            <th colspan="1">R7</th>-->
<!--            <th colspan="1">BS</th>-->
<!--            <th colspan="1">TO</th>-->
<!--            <th colspan="1">ST</th>-->
<!--            <th colspan="1">DB</th>-->
<!--            <th colspan="1">AI</th>-->
<!--          </tr>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="body" let-cumulativeTeamStatistic>-->
<!--          <tr [pSelectableRow]="cumulativeTeamStatistic">-->
<!--            <td>{{cumulativeTeamStatistic.playerName}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.mp}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.totalGaals}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.totalShots}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.totalPersentage}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.goalShotsSevenMetersPenaltyShots}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.goalShotsSevenMetersPenaltyShotsPersentage}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.goalShotsSixMetersPenaltyShots}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.goalShotsInFlightShots}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.goalShotsNineMetersPenaltyShots}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.goalShotsWingShots}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.goalShotsBreakthroughsShots}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.goalShotsExclusionsShots}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.goalShotsFastBreaksShots}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.punishmentYellowCard}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.punishmentRedCard}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.punishmentTwoMinuteSuspensions}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.punishmentTwoAndTwoMinuteSuspensions}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.punishmentExclusions}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.offenceAssists}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.offenceReceivedSevenMetersFouls}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.offenceBlockedShots}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.offenceTurnover}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.defenceSteals}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.defenceDefenceBlocks}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.defenceAttackInterruptions}}</td>-->
<!--            <td>{{cumulativeTeamStatistic.tP}}</td>-->
<!--          </tr>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="footer">-->
<!--          <tr>-->
<!--            <td colspan="2">Totals</td>-->
<!--            <td>194</td>-->
<!--            <td>229</td>-->
<!--            <td>56</td>-->
<!--            <td>18/24</td>-->
<!--            <td>75</td>-->
<!--            <td>44/67</td>-->
<!--            <td>0/0</td>-->
<!--            <td>45/81</td>-->
<!--            <td>21/37</td>-->
<!--            <td>29/40</td>-->
<!--            <td>2/2</td>-->
<!--            <td>35/47</td>-->
<!--            <td>14</td>-->
<!--            <td>1</td>-->
<!--            <td>24</td>-->
<!--            <td>0</td>-->
<!--            <td>0</td>-->
<!--            <td>90</td>-->
<!--            <td>24</td>-->
<!--            <td>14</td>-->
<!--            <td>66</td>-->
<!--            <td>22</td>-->
<!--            <td>15</td>-->
<!--            <td>203</td>-->
<!--            <td>420:00</td>-->
<!--          </tr>-->
<!--        </ng-template>-->
<!--      </p-table>-->

<!--    </p-accordionTab>-->
<!--    <p-accordionTab header="Goalkeeper statistics">-->
<!--      Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the-->
<!--      young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark-->
<!--      side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the-->
<!--      local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing-->
<!--      brood-->
<!--      in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business.-->
<!--      With Fanucci gone, Vito's communal stature grows.-->
<!--    </p-accordionTab>-->
<!--    <p-accordionTab header="Other statistics">-->
<!--      After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for-->
<!--      this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin-->
<!--      Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would-->
<!--      one day be completely legitimate.-->
<!--    </p-accordionTab>-->
<!--    <p-accordionTab header="Report IV">-->
<!--      After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for-->
<!--      this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin-->
<!--      Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would-->
<!--      one day be completely legitimate.-->
<!--    </p-accordionTab>-->
<!--  </p-accordion>-->

<!--</div>-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <button (click)="showAddReportDialog()" class="btn btn-warning btn-sm animated slow fadeInDown float-right">
        <i class="fas fa-file-alt"></i>
        Add New Report
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <p-table [columns]="cols" [value]="reports">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
            <td>
              <div class="row">
                <div class="col-md-6">
                  <button class="btn btn-sm btn-outline-primary" routerLink="/pages/report/5">
                    <i class="fas fa-print"></i>
                  </button>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-sm btn-outline-danger">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-dialog header="New Report" [(visible)]="displayNewReportDialog" [modal]="true"
          [responsive]="true" [minY]="70"
          [baseZIndex]="10000" [style]="{width: '50vw'}">
  <form action="" style="width: 99%;">
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="reportDate">Report Date</label>
        <input type="date" id="reportDate" class="form-control">
      </div>
      <div class="col-md-6 form-group">
        <label for="exampleFormControlSelect1">Select Match</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Zamalik VS Ahly</option>
          <option>Zamalik VS Taragy</option>
          <option>Zamalik VS Sahel El Agg</option>
        </select>
      </div>
      <div class="col-md-6 form-group">
        <p-panel>
          <p-header>
            <div class="row">
              <div class="col-md-3">
                <span class="ui-panel-title ng-tns-c15-5 ng-star-inserted"> Start</span>
              </div>
              <div class="col-md-9">
                <div class="ui-helper-clearfix">
                  <button (click)="showStartActions()" class="btn btn-outline-primary btn-sm float-right">
                    Choose Start Actions
                  </button>
                </div>
              </div>
            </div>
          </p-header>
          <div class="row">
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Action1" checked>
                <label class="form-check-label" for="Action1">Start1</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Action2" checked>
                <label class="form-check-label" for="Action2">Start2</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Action3" checked>
                <label class="form-check-label" for="Action3">Start3</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Action4" checked>
                <label class="form-check-label" for="Action4">Start4</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Action5" checked>
                <label class="form-check-label" for="Action5">Start5</label>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
      <div class="col-md-6 form-group">
        <p-panel>
          <p-header>
            <div class="row">
              <div class="col-md-3">
                <span class="ui-panel-title ng-tns-c15-5 ng-star-inserted"> End</span>
              </div>
              <div class="col-md-9">
                <div class="ui-helper-clearfix">
                  <button (click)="showStartActions()" class="btn btn-outline-primary btn-sm float-right">
                    Choose End Actions
                  </button>
                </div>
              </div>
            </div>
          </p-header>
          <div class="row">
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="End1" checked>
                <label class="form-check-label" for="End1">End1</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="End2" checked>
                <label class="form-check-label" for="Action2">End2</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="End3" checked>
                <label class="form-check-label" for="End3">End3</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="End4" checked>
                <label class="form-check-label" for="End4">End4</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="End5" checked>
                <label class="form-check-label" for="End5">End5</label>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
      <div class="col-md-6 form-group">
        <p-panel>
          <p-header>
            <div class="row">
              <div class="col-md-3">
                <span class="ui-panel-title ng-tns-c15-5 ng-star-inserted"> Tactics</span>
              </div>
              <div class="col-md-9">
                <div class="ui-helper-clearfix">
                  <button (click)="showStartActions()" class="btn btn-outline-primary btn-sm float-right">
                    Choose Tactics Actions
                  </button>
                </div>
              </div>
            </div>
          </p-header>
          <div class="row">
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Tactics1" checked>
                <label class="form-check-label" for="Tactics1">Tactics1</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Tactics2" checked>
                <label class="form-check-label" for="Tactics2">Tactics2</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Tactics3" checked>
                <label class="form-check-label" for="Tactics3">Tactics3</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Tactics4" checked>
                <label class="form-check-label" for="Tactics4">Tactics4</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Tactics5" checked>
                <label class="form-check-label" for="Tactics5">Tactics5</label>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
      <div class="col-md-6 form-group">
        <p-panel>
          <p-header>
            <div class="row">
              <div class="col-md-3">
                <span class="ui-panel-title ng-tns-c15-5 ng-star-inserted"> Penalties</span>
              </div>
              <div class="col-md-9">
                <div class="ui-helper-clearfix">
                  <button (click)="showStartActions()" class="btn btn-outline-primary btn-sm float-right">
                    Choose Penalties Actions
                  </button>
                </div>
              </div>
            </div>
          </p-header>
          <div class="row">
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Penalties1" checked>
                <label class="form-check-label" for="Penalties1">Penalties1</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Penalties2" checked>
                <label class="form-check-label" for="Penalties2">Penalties2</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Penalties3" checked>
                <label class="form-check-label" for="Penalties3">Penalties3</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="Penalties4" checked>
                <label class="form-check-label" for="Penalties4">Penalties4</label>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
      <div class="col-md-12">
        <button class="btn btn-outline-primary float-right" routerLink="/pages/report/5">
          <i class="far fa-thumbs-up"></i>
          Submit
        </button>
      </div>
    </div>

  </form>
</p-dialog>


<p-dialog header="Start Actions" [(visible)]="displayStartDialog" [modal]="true"
          [responsive]="true" [minY]="70"
          [baseZIndex]="10000" [style]="{width: '25vw'}">
  <form action="" style="width: 99%;">
    <div class="card border-warning">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label">Start1</label>
            </div>
          </div>
          <div class="col">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label">Start2</label>
            </div>
          </div>
          <div class="col">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label">Start3</label>
            </div>
          </div>
          <div class="col">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label">Start4</label>
            </div>
          </div>
          <div class="col">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label">Start5</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <button (click)="displayStartDialog = false;" class="btn-block btn-outline-primary btn-sm">
          <i class="far fa-thumbs-up"></i>
          Submit
        </button>
      </div>
    </div>
  </form>
</p-dialog>
