<div class="row">
  <div class="col-md-12">
    <button type="button" (click)="showNewAnalysisDialog()"
            class="btn btn-warning animated slow fadeInDown float-right"><i class="fa fa-plus"></i> Add New
      Analysis
    </button>
  </div>

</div>
<br>
<div class="">
  <p-table #dt1 [columns]="cols" [value]="allMatches" [paginator]="true" [rows]="10" dataKey="id" sortMode="multiple"
           [resizableColumns]="true"
           [reorderableColumns]="true"
           stateStorage="session" stateKey="statedemo-session">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.subfield?col.subfieldName:col.field" pResizableColumn
            pReorderableColumn>
          {{col.header}}
          <p-sortIcon [field]="col.subfield?col.subfieldName:col.field"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
      <tr>
        <th *ngFor="let col of columns">
          <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
          <ng-template #nested_object_content>
            <input type="text" class="form-control" (input)="dt1.filter($event.target.value, col.subfieldName)">
          </ng-template>
          <ng-template #normal_content>
            <input [type]="col.field=='matchDate'?'date':'text'" class="form-control"
                   (input)="dt1.filter($event.target.value, col.field)">
          </ng-template>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
          <ng-template #nested_object_content>
            {{rowData[col.field][col.subfield]}}
          </ng-template>
          <ng-template #normal_content>
            {{rowData[col.field] | date: 'dd-MM-yyyy'}}
          </ng-template>
        </td>
        <td>
          <div class="row">
            <div class="col-md-4 text-center">
              <button class="btn btn-outline-primary " title="Go To Match" routerLink="matchAnalysis/{{rowData.id}}"><i
                class="fas fa-desktop"></i></button>
            </div>
            <div class="col-md-4 text-center">
              <button class="btn btn-outline-secondary" title="Go To Report"><i class="fas fa-print"></i></button>
            </div>
            <div class="col-md-4 text-center">
              <button class="btn btn-outline-danger" title="Delete"><i class="fas fa-trash-alt"></i></button>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      There are {{allMatches?.length}} Match
    </ng-template>
  </p-table>
</div>
<p-dialog header="New Analysis" [(visible)]="displayNewAnalysis" [modal]="true" [responsive]="true" [minY]="70"
          [baseZIndex]="10000" [style]="{width: '900px', minWidth: '800px'}">
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step>
      <form #matchDataForm="ngForm">
        <ng-template matStepLabel>Match Data</ng-template>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="matchDate">Match Date</label>
              <input type="date" name="matchDate" [(ngModel)]="matchesService.match.matchDate" #matchDate="ngModel"
                     class="form-control" id="matchDate" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="groupId">Select Your Action Statement</label>
              <select class="form-control" id="groupId" [(ngModel)]="matchesService.match.groupId"
                      #groupId="ngModel" required
                      name="groupId">
                <option disabled>Please Select Action Statement</option>
                <option *ngFor="let group of allGroups" [value]="group.id">{{group.nameAr}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="clubA">Select Club A</label>
              <select #selectedClubA class="form-control" id="clubA" (change)="getAllTeams(selectedClubA.value, true)">
                <option disabled>Please Select Club A</option>
                <option *ngFor="let club of allClubs" [value]="club.id">{{club.nameAr}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="clubATeam">Select Club A Team</label>
              <select class="form-control" id="clubATeam" [(ngModel)]="matchesService.match.teamAId" required
                      #teamAId="ngModel"
                      name="teamAId">
                <option>Please Select Club A Team</option>
                <option *ngFor="let team of allTeamsA" [value]="team.id">{{team.nameAr}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="clubB">Select Club B</label>
              <select class="form-control" id="clubB" #selectedClubB (change)="getAllTeams(selectedClubB.value, false)">
                <option disabled>Please Select Club B</option>
                <option *ngFor="let club of allClubs" [value]="club.id">{{club.nameAr}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="clubBTeam">Select Club B Team</label>
              <select class="form-control" id="clubBTeam" [(ngModel)]="matchesService.match.teamBId" required
                      #teamBId="ngModel"
                      name="teamBId">
                <option>Please Select Club B Team</option>
                <option *ngFor="let team of allTeamsB" [value]="team.id">{{team.nameAr}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-outline-primary float-right" [disabled]="!matchDataForm.valid"
                    (click)="getAllPlayers()" matStepperNext>
              <i
                class="far fa-hand-point-right"></i> Next Step
            </button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form #teamAPlayersForm="ngForm">
        <ng-template matStepLabel>Team A Players</ng-template>
        <div class="form-group">
          <p-pickList [source]="allPlayersA" [target]="targetPlayerA" sourceHeader="Team A"
                      targetHeader="Selected Players"
                      [responsive]="true" filterBy="nameAr"
                      dragdrop="true" sourceFilterPlaceholder="Search By Player Name"
                      targetFilterPlaceholder="Search By Player Name" [sourceStyle]="{'height':'300px'}"
                      [targetStyle]="{'height':'300px'}">
            <ng-template let-playersA pTemplate="item">
              <div class="ui-helper-clearfix">
                <!--                <img src="assets/showcase/images/demo/car/{{playersA.brand}}.png"-->
                <!--                     style="display:inline-block;margin:2px 0 2px 2px" width="48">-->
                <div style="font-size:14px; float:right; margin:15px 5px 0 0px;">{{playersA.nameAr}} </div>
              </div>
            </ng-template>
          </p-pickList>
        </div>
        <div class="row">
          <div class="col-md-6 float-left">
            <button type="submit" class="btn btn-outline-secondary" matStepperPrevious><i
              class="far fa-hand-point-left"></i> Previous Step
            </button>
          </div>
          <div class="col-md-6 ">
            <button type="submit" class="btn btn-outline-primary float-right" [disabled]="targetPlayerA.length === 0"
                    (click)="addFormation(true)"
                    matStepperNext><i
              class="far fa-hand-point-right"></i> Next Step
            </button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>Team B Players</ng-template>
        <div class="form-group">
          <p-pickList [source]="allPlayersB" [target]="targetPlayerB" sourceHeader="Team B"
                      targetHeader="Selected Players"
                      [responsive]="true" filterBy="nameAr"
                      dragdrop="true" sourceFilterPlaceholder="Search By Player Name"
                      targetFilterPlaceholder="Search By Player Name" [sourceStyle]="{'height':'300px'}"
                      [targetStyle]="{'height':'300px'}">
            <ng-template let-playerB pTemplate="item">
              <div class="ui-helper-clearfix">
                <!--                <img src="assets/showcase/images/demo/car/{{car.brand}}.png"-->
                <!--                     style="display:inline-block; margin:2px 0 2px 2px;" width="48">-->
                <div style="font-size:14px; float:right; margin:15px 5px 0 0;">{{playerB.nameAr}}</div>
              </div>
            </ng-template>
          </p-pickList>
        </div>
        <div class="row">
          <div class="col-md-6 float-left">
            <button type="submit" class="btn btn-outline-secondary" matStepperPrevious><i
              class="far fa-hand-point-left"></i> Previous Step
            </button>
          </div>
          <div class="col-md-6 ">
            <button type="submit" class="btn btn-outline-primary float-right" [disabled]="targetPlayerB.length === 0"
                    (click)="addFormation(false)"
                    matStepperNext><i
              class="far fa-hand-point-right"></i> Next Step
            </button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form #youtubeURLForm="ngForm">
        <ng-template matStepLabel>Youtube URL</ng-template>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-outline-primary float-right btn-block mb-3 btn-sm" (click)="addNewYoutubeInput()"><i
              class="fas fa-plus"></i> Add New Video
            </button>
          </div>
          <div class="col-md-12" *ngFor="let x of matchesService.match.matchVideos; let i = index">
            <div class="row">
              <div class="col-md-10">
                <div class="form-group">
                  <label for="Youtube Link">Youtube Link Name</label>
                  <input type="text" class="form-control" id="name"
                         [(ngModel)]="matchesService.match.matchVideos[i].name"
                         #name="ngModel"
                         name="name"
                         placeholder="Please Enter Youtube Link Name" required>
                </div>
              </div>
              <div class="col-md-10">
                <div class="form-group">
                  <label for="Youtube Link">Youtube Link</label>
                  <input type="text" class="form-control" id="Youtube Link"
                         [(ngModel)]="matchesService.match.matchVideos[i].path"
                         #matchVideos="ngModel"
                         name="matchVideos"
                         placeholder="Please Enter Youtube Link" required>
                </div>
              </div>
              <div class="col-md-2">
                <br>
                <button class="btn btn-outline-danger mt-2" (click)="deleteYoutubeInput(i)"><i class="fas fa-minus"></i>
                </button>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6 float-left">
            <button type="submit" class="btn btn-outline-secondary" matStepperPrevious><i
              class="far fa-hand-point-left"></i> Previous Step
            </button>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-outline-primary float-right" [disabled]="!youtubeURLForm.valid"
                    matStepperNext><i
              class="far fa-hand-point-right"></i> Next Step
            </button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Final</ng-template>
      <br>
      <h4 class="display-4 text-center text-success"> You Are Now Done. <i
        class="far fa-handshake animated swing infinite"></i>
      </h4>
      <h4 class="display-4 text-center text-primary"> Are You Ready To Start? <i
        class="fas fa-chart-line animated pulse infinite"></i>
      </h4>
      <br>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <button type="submit" class="btn btn-outline-secondary" matStepperPrevious><i
            class="far fa-hand-point-left"></i> Previous Step
          </button>
        </div>
        <div class="col-md-4 text-center">
          <button class="btn btn-outline-success " (click)="onSubmit(); this.displayNewAnalysis = false"
          ><i
            class="far fa-hand-peace"></i> Lets Start
          </button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-outline-danger float-right" (click)="displayNewAnalysis=false;stepper.reset()"><i
            class="far fa-window-close"></i> Cansel
          </button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</p-dialog>
