<div class="row">
  <div class="col-md-12">
    <button class="btn btn-warning btn-sm animated slow fadeInDown float-right "
            (click)="showClubDialog();clubForm.resetForm()"><i
      class="fa fa-plus"></i> Add New
      Club
    </button>
  </div>
</div>

<div class="animated slower fadeInUp" *ngIf="allClubs.length !== 0">
  <p-tabView (onChange)="onChangeTab($event.index)">
    <ng-container *ngFor="let item of allClubs;let i = index;">
      <p-tabPanel header="{{item.nameEn}}" [selected]="i == tabIndex">
        <div class="row">
          <div class="col-md-6">
            <img style="height: 100px; width: 100px;"
                 [src]="item.logoPath!= null ?  item.logoPath.includes('data:image')?item.logoPath:apiEndPoint + item.logoPath: '../assets/images/default-avatar-png-5.png'"
                 class="img-fluid img-thumbnail"
                 [alt]="item.nameEn">
          </div>
          <div class="col-md-6">
            <button class="btn btn-outline-danger float-right ml-2 btn-sm" (click)="showClubDeleteDialog(item.id)"><i
              class="fas fa-ban"></i> Delete Club
            </button>
            <button class="btn btn-outline-secondary float-right ml-2 btn-sm" (click)="updateClub(item)"><i
              class="far fa-edit"></i> Update Club
            </button>
            <button class="btn btn-outline-primary float-right ml-2 btn-sm"
                    (click)="showTeamDialog();teamForm.resetForm();"><i
              class="fa fa-plus"></i> Add Team
            </button>
          </div>
        </div>
        <br>
        <p-accordion>
          <div *ngFor="let team of allTeams">
            <p-accordionTab header="{{team.nameEn}}" (click)="getAllPlayers(team.id)">
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-outline-danger float-right ml-2 btn-sm"
                          (click)="showTeamDeleteDialog(team.id)"><i
                    class="fas fa-ban"></i> Delete Team
                  </button>
                  <button class="btn btn-outline-secondary float-right ml-2 btn-sm" (click)="updateTeam(team)"><i
                    class="far fa-edit"></i> Update Team
                  </button>
                  <button class="btn btn-outline-primary float-right ml-2 btn-sm"
                          (click)="showPlayerDialog(team.id)"><i
                    class="fa fa-plus"></i> Add Player
                  </button>
                  <button *ngIf="allPlayers.length === 0" class="btn btn-outline-success float-right ml-2 btn-sm"
                          (click)="addDefaultPlayers(team.id)"><i
                    class="fa fa-plus"></i> Default Players
                  </button>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="text-center" *ngFor="let player of allPlayers">
                  <div class="card m-2 shadow" style="width: 9rem;">
                    <img
                      [src]="player.imagePath!= null ?  player.imagePath.includes('data:image')?player.imagePath:apiEndPoint + player.imagePath: '../assets/images/default-avatar-png-5.png'"
                      class="card-img-top" [alt]="player.nameEn">
                    <div class="card-body">
                      <a routerLink="../player/{{player.id}}">
                        <h6 class="card-title">{{player.nickNameEn}} <span
                          *ngIf="player.postions"> - {{player.positionName}}</span></h6>
                      </a>

                      <button class="btn btn-sm btn-outline-secondary" (click)="updatePlayer(player)"><i
                        class="fas fa-pen"></i></button>
                      <button class="btn btn-sm ml-1 btn-outline-danger" (click)="showPlayerDeleteDialog(player.id)"><i
                        class="fas fa-trash"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </p-accordionTab>
          </div>
        </p-accordion>
      </p-tabPanel>
    </ng-container>
  </p-tabView>
</div>


<!--Add New Club-->
<p-dialog header="Club" [(visible)]="displayClubDialog" [modal]="true" [responsive]="true"
          [minY]="70" appendTo="body" [style]="{width: '350px', minWidth: '200px'}"
          [baseZIndex]="10000">
  <form #clubForm="ngForm" style="width: 99%;" autocomplete="off">
    <input type="hidden" name="id" [value]="clubService.club.id">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-medal" [class.green-icon]="nameAr.valid"
                   [class.red-icon]="nameAr.invalid && nameAr.touched"></i>
              </div>
            </div>
            <input id="nameAr" type="text" class="form-control" name="nameAr"
                   [(ngModel)]="clubService.club.nameAr"
                   #nameAr="ngModel" placeholder="Insert Name In Arabic" required>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-medal" [class.green-icon]="nameEn.valid"
                   [class.red-icon]="nameEn.invalid && nameEn.touched"></i>
              </div>
            </div>
            <input id="nameEn" type="text" class="form-control" name="nameEn"
                   [(ngModel)]="clubService.club.nameEn"
                   #nameEn="ngModel" placeholder="Insert Name In English" required>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-2 text-center" *ngIf="clubService.club.logoPath">
        <img
          [src]="clubService.club.logoPath!= null ?  clubService.club.logoPath.includes('data:image')?clubService.club.logoPath:apiEndPoint + clubService.club.logoPath: '../assets/images/default-avatar-png-5.png'"
          class="img-fluid img-thumbnail" [alt]="clubService.club.nameEn">
      </div>
      <div class="col-md-12">
        <button class="btn btn-outline-warning btn-block mb-2 btn-sm" (click)="showCropImageDialog()"><i
          class="fas fa-expand"></i> Upload Image
        </button>
      </div>
      <div class="col-md-12">
        <button class="btn btn-outline-success btn-block btn-sm" (click)="onClubSubmit()"
                [disabled]="clubForm.invalid">
          <i
            class="far fa-check-square"></i> Submit
        </button>
      </div>
    </div>
  </form>
</p-dialog>

<!--Add New Team-->
<p-dialog header="Team" [(visible)]="displayTeamDialog" [modal]="true" [responsive]="true"
          [minY]="70" appendTo="body" [style]="{width: '550px', minWidth: '200px'}"
          [baseZIndex]="10000">
  <form action="" #teamForm="ngForm" style="width: 99%;" autocomplete="off">
    <input type="hidden" name="id" [value]="teamService.team.id">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fab fa-shirtsinbulk" [class.green-icon]="teamNameAr.valid"
                   [class.red-icon]="teamNameAr.invalid && teamNameAr.touched"></i>
              </div>
            </div>
            <input id="teamNameAr" type="text" class="form-control" name="nameAr"
                   [(ngModel)]="teamService.team.nameAr"
                   #teamNameAr="ngModel" placeholder="Insert Name In Arabic" required>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fab fa-shirtsinbulk" [class.green-icon]="teamNameEn.valid"
                   [class.red-icon]="teamNameEn.invalid && teamNameEn.touched"></i>
              </div>
            </div>
            <input id="teamNameEn" type="text" class="form-control" name="nameEn"
                   [(ngModel)]="teamService.team.nameEn"
                   #teamNameEn="ngModel" placeholder="Insert Name In English" required>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn btn-outline-success btn-block btn-sm" (click)="onTeamSubmit()" [disabled]="teamForm.invalid">
          <i
            class="far fa-check-square"></i> Submit
        </button>
      </div>
    </div>
  </form>
</p-dialog>

<!--Add New Player-->
<p-dialog header="Player" [(visible)]="displayPlayerDialog" [modal]="true" [responsive]="true"
          [minY]="70" appendTo="body" [style]="{width: '850px', minWidth: '200px'}"
          [baseZIndex]="10000">
  <form action="" #playerForm="ngForm" style="width: 99%;" autocomplete="off">
    <input type="hidden" name="id" [value]="playerService.player.id">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="far fa-address-card"></i>
              </div>
            </div>
            <input id="playerNameAr" type="text" class="form-control" name="nameAr"
                   [(ngModel)]="playerService.player.nameAr"
                   #playerNameAr="ngModel" placeholder="Insert Name In Arabic">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="far fa-address-card"></i>
              </div>
            </div>
            <input id="playerNameEn" type="text" class="form-control" name="nameEn"
                   [(ngModel)]="playerService.player.nameEn"
                   #playerEn="ngModel" placeholder="Insert Name In English">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-signature"></i>
              </div>
            </div>
            <input id="playerNickNameAr" type="text" class="form-control" name="nickNameAr"
                   [(ngModel)]="playerService.player.nickNameAr"
                   #playerNickNameAr="ngModel" placeholder="Insert Nick Name In Arabic">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-signature"></i>
              </div>
            </div>
            <input id="playerNickNameEn" type="text" class="form-control" name="nickNameEn"
                   [(ngModel)]="playerService.player.nickNameEn"
                   #playerNickNameEn="ngModel" placeholder="Insert Nick Name In English">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="far fa-flag"></i>
              </div>
            </div>
            <select class="form-control" id="playerNationality" name="nationalityId"
                    [(ngModel)]="playerService.player.nationalityId"
                    #playerNationality="ngModel">
              <option *ngFor="let x of allNationalities"
                      [selected]="x.id.toString()==='7c82ef1a-641b-ea11-b448-309c231f8290'"
                      [value]="x.id">{{x.nameEn}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-birthday-cake"></i>
              </div>
            </div>
            <input id="playerBirthDate" type="date" class="form-control" name="birthDate"
                   [(ngModel)]="playerService.player.birthDate"
                   #playerBirthDate="ngModel" placeholder="Insert Nick Name In English">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-arrows-alt-v"></i>
              </div>
            </div>
            <input id="playerHeight" type="text" class="form-control" name="height"
                   [(ngModel)]="playerService.player.height"
                   #playerHeight="ngModel" placeholder="Insert Height">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-map-marker-alt" [class.green-icon]="playerPostions.valid"
                   [class.red-icon]="playerPostions.invalid && playerPostions.touched"></i>
              </div>
            </div>
            <select class="form-control" id="playerPostions" name="postions"
                    [(ngModel)]="playerService.player.postions"
                    #playerPostions="ngModel" required>
              <option>Select Positions</option>
              <option value="1">LW</option>
              <option value="2">LB</option>
              <option value="3">CB</option>
              <option value="4">RB</option>
              <option value="5">RW</option>
              <option value="6">PV</option>
              <option value="7">GK</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-arrows-alt-h"></i>
              </div>
            </div>
            <select class="form-control" id="playerPreferred" name="preferred"
                    [(ngModel)]="playerService.player.preferred"
                    #playerPreferred="ngModel">
              <option>Select Preferred</option>
              <option value="1">Right</option>
              <option value="2">Left</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-venus-mars" [class.green-icon]="playerGender.valid"
                   [class.red-icon]="playerGender.invalid && playerGender.touched"></i>
              </div>
            </div>
            <select class="form-control" id="playerGender" name="gender"
                    [(ngModel)]="playerService.player.gender"
                    #playerGender="ngModel" required>
              <option>Select Preferred</option>
              <option value="1">Male</option>
              <option value="2">FeMale</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-sort-numeric-up" [class.green-icon]="playerNum.valid"
                   [class.red-icon]="playerNum.invalid && playerNum.touched"></i>
              </div>
            </div>
            <input id="playerNum" type="number" min="1" max="999" class="form-control" name="playerNum"
                   [(ngModel)]="playerService.player.playerNum"
                   #playerNum="ngModel" placeholder="Insert Player Number" required>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-2 text-center">
        <img class="img-thumbnail"
             [src]="playerService.player.imagePath!= null ?  playerService.player.imagePath.includes('data:image')? playerService.player.imagePath:apiEndPoint + playerService.player.imagePath: '../assets/images/default-avatar-png-5.png'"
             [alt]="playerService.player.nameEn">
      </div>
      <div class="col-md-12">
        <button class="btn btn-outline-warning btn-block mb-2 btn-sm" (click)="showPlayerImageCropper()"><i
          class="fas fa-expand"></i> Upload Image
        </button>
      </div>
      <div class="col-md-12">
        <button class="btn btn-outline-success btn-block btn-sm" (click)="onPlayerSubmit(playerForm)"
                [disabled]="playerForm.invalid">
          <i
            class="far fa-check-square"></i> Submit
        </button>
      </div>
    </div>
  </form>
</p-dialog>
<p-dialog header="Delete Club" [(visible)]="displayDeleteClubDialog" [modal]="true" [responsive]="true"
          [minY]="70" appendTo="body" [style]="{width: '350px', minWidth: '200px'}"
          [baseZIndex]="10000">
  <div class="text-center">
    <i class="fas fa-exclamation-circle fa-4x text-danger "></i>
  </div>
  <br>
  <h6 class="text-center">
    Are You Sure To Delete This Club?!
  </h6>
  <br>
  <button class="btn btn-outline-danger btn-sm btn-block" type="submit" (click)="onClubDelete()"><i
    class="fas fa-bomb"></i>
    Delete
  </button>
</p-dialog>
<p-dialog header="Delete Team" [(visible)]="displayDeleteTeamDialog" [modal]="true" [responsive]="true"
          [minY]="70" appendTo="body" [style]="{width: '350px', minWidth: '200px'}"
          [baseZIndex]="10000">
  <div class="text-center">
    <i class="fas fa-exclamation-circle fa-4x text-danger "></i>
  </div>
  <br>
  <h6 class="text-center">
    Are You Sure To Delete This Team?!
  </h6>
  <br>
  <button class="btn btn-outline-danger btn-sm btn-block" type="submit" (click)="onTeamDelete()"><i
    class="fas fa-bomb"></i>
    Delete
  </button>
</p-dialog>

<p-dialog header="Delete Player" [(visible)]="displayDeletePlayerDialog" [modal]="true" [responsive]="true"
          [minY]="70" appendTo="body" [style]="{width: '350px', minWidth: '200px'}"
          [baseZIndex]="10000">
  <div class="text-center">
    <i class="fas fa-exclamation-circle fa-4x text-danger "></i>
  </div>
  <br>
  <h6 class="text-center">
    Are You Sure To Delete This Player?!
  </h6>
  <br>
  <button class="btn btn-outline-danger btn-sm btn-block" type="submit" (click)="onPlayerDelete()"><i
    class="fas fa-bomb"></i>
    Delete
  </button>
</p-dialog>

<p-dialog header="Crop Club Image" [(visible)]="displayCropImageDialog" [modal]="true" [responsive]="true"
          [minY]="70" appendTo="body" [style]="{width: '750px', minWidth: '200px'}"
          [baseZIndex]="10000">
  <div class="row" style="width: 99%;">
    <div class="col-md-12">
      <ngx-image-cropper [onCropperWidth]="100" [onCropperHeight]="100"
                         (imgCropper)="displayImg($event)"></ngx-image-cropper>
    </div>
  </div>
  <br>
  <button class="btn btn-outline-success btn-block btn-sm" (click)="this.displayCropImageDialog = false;">
    <i class="far fa-check-square"></i> Submit
  </button>
</p-dialog>

<p-dialog header="Crop Player Image" [(visible)]="displayCropPlayerImageDialog" [modal]="true" [responsive]="true"
          [minY]="70" appendTo="body" [style]="{width: '750px', minWidth: '200px'}"
          [baseZIndex]="10000">
  <div class="row" style="width: 99%;">
    <div class="col-md-12">
      <ngx-image-cropper [onCropperWidth]="250" [onCropperHeight]="250"
                         (imgCropper)="displayPlayerImg($event)"></ngx-image-cropper>
    </div>
  </div>
  <br>
  <button class="btn btn-outline-success btn-block btn-sm" (click)="this.displayCropPlayerImageDialog = false;">
    <i class="far fa-check-square"></i> Submit
  </button>
</p-dialog>
