<div class="row">
  <div class="col-md-8">
    <div [className]="classes.actions">
      <button class="btn btn-default" (click)="_fileInput.click()">
        <i class="fa fa-folder-open-o"></i> <span>Select File</span>
      </button>
      <span [className]="classes.flex"></span>
      <input #_fileInput type="file" style="display: none;" (change)="cropping.selectInputEvent($event)"
             accept="image/*" hidden>
    </div>

    <div class="text-center" *ngIf="cropping.isLoaded">
      <button (click)="cropping.zoomIn()" ly-button appearance="icon">
        <i class="glyphicon glyphicon-zoom-in"></i>
      </button>
      <button (click)="cropping.zoomOut()" ly-button appearance="icon">
        <i class="glyphicon glyphicon-zoom-out"></i>
      </button>
      <button (click)="cropping.center()" ly-button appearance="icon">
        <i class="fa fa-align-center"></i>
      </button>
      <button (click)="cropping.rotate(-90)" ly-button appearance="icon">
        <i class="fa fa-rotate-right"></i>
      </button>
      <button (click)="cropping.fit()" ly-button appearance="icon">
        <i class="fa fa-expand"></i>
      </button>
      <button (click)="cropping.fitToScreen()" ly-button appearance="icon">
        <i class="fa fa-arrows-alt"></i>
      </button>
      <button (click)="cropping.setScale(1)" ly-button>1:1</button>
      <button *ngIf="cropping.isLoaded" (click)="cropping.crop()" ly-button appearance="icon">
        <i class="fa fa-crop"></i>
      </button>
      <button (click)="cropping.clean()" ly-button appearance="icon">
        <i class="glyphicon glyphicon-trash"></i>
      </button>
    </div>

    <ly-img-cropper style="width: 100%" [withClass]="classes.cropping" #cropping [config]="myConfig"
                    (cropped)="onCropped($event)">
      <span>Drag and drop image</span>
    </ly-img-cropper>
  </div>
  <div class="col-md-4" style="margin-top: 70px;">
    <img *ngIf="cropping.isCropped" class="img-thumbnail" [src]="croppedImage">
  </div>
</div>
