<div class="row">
  <div class="col-md-4">
    <ngx-action [groupId]="this.matchService.match.groupId" [categories]="categories"
                (actionData)="getActionsCount($event)" (index)="getActionIndex($event)"></ngx-action>
  </div>
  <div class="col-md-8">
    <p-panel>
      <p-header>
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn  btn-sm"
                    (click)="activatedTeamB=false;activatedTeamA=true"
                    [ngClass]="activatedTeamA ? 'btn-primary' : ' btn-outline-secondary'"><i
              class="fas fa-flag-checkered"></i> {{this.matchService.match.teamA?.clubNameEn}}
            </button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-outline-secondary float-right btn-sm"
                    (click)="activatedTeamB=true;activatedTeamA=false"
                    [ngClass]="activatedTeamB ? 'btn-primary' : ' btn-outline-secondary'"><i
              class="fas fa-flag-checkered"></i> {{this.matchService.match.teamB?.clubNameEn}}
            </button>
          </div>
        </div>
      </p-header>
      <!--      <p-table [value]="countsData" dataKey="id" [resizableColumns]="true">-->
      <!--        <ng-template pTemplate="header">-->
      <!--          <tr>-->
      <!--            <th colspan="3">{{this.matchService.match.teamA?.clubNameEn}}</th>-->
      <!--            <th colspan="3">{{this.matchService.match.teamB?.clubNameEn}}</th>-->
      <!--          </tr>-->
      <!--          <tr>-->
      <!--            <th>Action</th>-->
      <!--            <th>Count</th>-->
      <!--            <th>Description</th>-->
      <!--            <th>Action</th>-->
      <!--            <th>Count</th>-->
      <!--            <th>Description</th>-->
      <!--          </tr>-->
      <!--        </ng-template>-->
      <!--        <ng-template pTemplate="body" let-countData>-->
      <!--          <tr>-->
      <!--            <td>{{countData.actionA}}</td>-->
      <!--            <td>{{countData.countA}}</td>-->
      <!--            <td>-->
      <!--              <input class="form-control" type="text" [(ngModel)]="countData.descriptionA">-->
      <!--            </td>-->
      <!--            <td>{{countData.actionB}}</td>-->
      <!--            <td>{{countData.countB}}</td>-->
      <!--            <td>-->
      <!--              <input class="form-control" type="text" [(ngModel)]="countData.descriptionB">-->
      <!--            </td>-->
      <!--          </tr>-->
      <!--        </ng-template>-->
      <!--      </p-table>-->
      <p-table [value]="countAnalyzeService.CountAnalyzeList">
        <ng-template pTemplate="header">
          <tr>
            <th rowspan="2">Action</th>
            <th>{{this.matchService.match.teamA?.clubNameEn}}</th>
            <th>{{this.matchService.match.teamB?.clubNameEn}}</th>
            <th></th>
          </tr>
          <tr>
            <th>Count</th>
            <th>Count</th>
            <th>Description</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-countData>
          <tr>
            <td>{{countData.actionNameEn}}</td>
            <td>{{countData.countOfTeamA}}</td>
            <td>{{countData.countOfTeamB}}</td>
            <td>
              <input class="form-control" type="text" [(ngModel)]="countData.description">
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-footer>
        <button type="button" class="btn btn-outline-success btn-sm" (click)="addCount()"><i
          class="far fa-check-square"></i> Save
        </button>
      </p-footer>
    </p-panel>
    <br>
  </div>
</div>
