@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
// themes - our custom or/and out of the box themes
@import 'themes';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';
// loading progress bar theme
@import './pace.theme';
@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

;


* {
  outline: none;
}

body .ui-fieldset .ui-fieldset-legend a {
  padding: 0.571em 1em;
  border: 1px solid #c8c8c8;
  color: #333333;
  background-color: #f4f4f4;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
  outline: none;
}


body .ui-table .ui-table-thead > tr > th {
  padding: 0.571em 0.857em;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  color: #333333;
  background-color: #f4f4f4;
  text-align: center;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #007ad9;
  color: white;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #007ad9;
}

input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
  border-color: #dc3534;
}

//input.ng-valid,
//select.ng-valid {
//  border-color: #28a745;
//}

.red-icon {
  color: #dc3534;
}

.green-icon {
  color: #28a745;
}

.nb-theme-default nb-user.size-medium .user-name {
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: #28a745;
  text-transform: capitalize;
}

.nb-theme-default nb-user.shape-round .user-picture {
  border-radius: 50%;
  color: #28a745;
  border-color: #28a745;
}

.layout-container .content .columns nb-layout-column {
  order: 1;
  flex: 1 0;
  min-width: 0;
  background-image: url('assets/images/bg.jpeg');
  background-position: center;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #fff;
}

body .ui-table .ui-table-tbody > tr > td {
  background-color: inherit;
  border: 1px solid #c8c8c8;
  text-align: center;
}

.ui-table-scrollable-header-box {
  margin-right: 17px !important;
}

.ui-table-scrollable-body {
  margin-right: 17px !important;
}

///// this code below is for width of the scroll bar
::-webkit-scrollbar {
  width: 10px;
}

.ui-table-scrollable-header {
  overflow-y: scroll;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  body .ui-table .ui-table-thead > tr > th {
    padding: 0.1em 0.3em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333333;
    background-color: #f4f4f4;
    text-align: center;
    font-size: 11px;
  }
  body .ui-table .ui-table-tbody > tr > td {
    padding: 2px;
    font-size: 10px;
  }
}

.nb-theme-default nb-layout-header nav {
  background: #ffffff;
  color: #1a2138;
  box-shadow: 0 0.5rem 1rem 0
  rgba(44, 51, 73, 0.1);
  height: 3.75rem;
  padding: 1.25rem;
}
.ui-sidebar-left.ui-sidebar-active, .ui-sidebar-right.ui-sidebar-active {
  -ms-transform: translateX(0);
  transform: translateX(0);
  z-index: 1156;
  opacity: 1;
}

.nb-theme-default nb-layout-header.fixed ~ .layout-container {
  padding-top: 3.75rem;
  min-height: 100vh;
}

.linear-wipe {
  text-align: center;
  background: -webkit-linear-gradient(left, #000 20%, #ffc107 40%, #ffc107 60%, #000 80%);
  background: linear-gradient(to right, #000 20%, #ffc107 40%, #ffc107 60%, #000 80%);
  background-size: 200% auto;
  color: #000;
  //background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 4s linear infinite;
  animation: shine 4s linear infinite;
}

@-webkit-keyframes shine {
  to {
    background-position: -200% center;
  }
}

@keyframes shine {
  to {
    background-position: -200% center;
  }
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  background-color: #ffc107;
  color: #000;
}

.nb-theme-default nb-menu .menu-item a.active {
  background-color: transparent;
  color: #ffc107;
}

.nb-theme-default nb-menu .menu-item a.active .menu-icon {
  color: #ffc107;
}

.nb-theme-default nb-menu .menu-item a:hover {
  color: #ffc107;
  cursor: pointer;
}

.nb-theme-default nb-menu .menu-item a:hover .menu-icon {
  color: #ffc107;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
  background-color: #ffc107;
  border: 1px solid #ffc107;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:hover,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active:hover,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active:hover,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active:hover {
  border: 1px solid #ffc107;
  background-color: #ffc107;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  body .ui-table .ui-table-thead > tr > th {
    padding: 0.571em 0.857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333333;
    background-color: #f4f4f4;
    text-align: center;
    font-size: 11px;
  }
  body .ui-table .ui-table-tbody > tr > td {
    background-color: inherit;
    border: 1px solid #c8c8c8;
    text-align: center;
    font-size: 10px;
  }
  body .ui-panel .ui-panel-titlebar .ui-panel-title {
    vertical-align: middle;
    font-weight: 700;
    font-size: 10px;
  }
  .ui-helper-clearfix .ui-panel-title {
    font-size: 10px;
    display: inline-block;
    margin-top: 2px;
  }
  .nb-theme-default nb-user.size-medium .user-name {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.25rem;
    color: #28a745;
    text-transform: capitalize;
  }
  .nb-theme-default nb-user.size-medium .user-picture {
    height: 25px;
    width: 25px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  body .ui-table .ui-table-thead > tr > th {
    padding: 0.571em 0.857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333333;
    background-color: #f4f4f4;
    text-align: center;
    font-size: 11px;
  }
  body .ui-table .ui-table-tbody > tr > td {
    background-color: inherit;
    border: 1px solid #c8c8c8;
    text-align: center;
    font-size: 10px;
  }
  body .ui-panel .ui-panel-titlebar .ui-panel-title {
    vertical-align: middle;
    font-weight: 700;
    font-size: 10px;
  }
  .ui-helper-clearfix .ui-panel-title {
    font-size: 10px;
    display: inline-block;
    margin-top: 2px;
  }
  .nb-theme-default nb-user.size-medium .user-name {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.25rem;
    color: #28a745;
    text-transform: capitalize;
  }
  .nb-theme-default nb-user.size-medium .user-picture {
    height: 25px;
    width: 25px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1280px) {
  body .ui-table .ui-table-thead > tr > th {
    padding: 0.571em 0.857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333333;
    background-color: #f4f4f4;
    text-align: center;
    font-size: 13px;
  }
  body .ui-table .ui-table-tbody > tr > td {
    background-color: inherit;
    border: 1px solid #c8c8c8;
    text-align: center;
    font-size: 13px;
  }
  body .ui-panel .ui-panel-titlebar .ui-panel-title {
    vertical-align: middle;
    font-weight: 700;
    font-size: 13px;
  }
  .ui-helper-clearfix .ui-panel-title {
    font-size: 13px;
    display: inline-block;
    margin-top: 2px;
  }
  .nb-theme-default nb-user.size-medium .user-name {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.25rem;
    color: #28a745;
    text-transform: capitalize;
  }
  .nb-theme-default nb-user.size-medium .user-picture {
    height: 25px;
    width: 25px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1280px) {
}
