@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
// themes - our custom or/and out of the box themes
@import 'themes';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';
// loading progress bar theme
@import './pace.theme';
@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

;


body .ui-fieldset .ui-fieldset-legend a {
  padding: 0.571em 1em;
  border: 1px solid #c8c8c8;
  color: #333333;
  background-color: #f4f4f4;
  border-radius: 3px;
  transition: background-color 0.2s;
  text-decoration: none;
  outline: none;
}


body .ui-table .ui-table-thead > tr > th {
  padding: 0.571em 0.857em;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  color: #333333;
  background-color: #f4f4f4;
  text-align: center;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}

// .delay-1 {
//   animation-delay: .25s;
//   animation-duration: .25s;
// }

// .delay-2 {
//   animation-delay: .5s;
//   animation-duration: .5s;

// }

// .delay-3 {
//   animation-delay: .75s;
//   animation-duration: 1s;

// }

// .delay-4 {
//   animation-delay: 1.25s;
//   animation-duration: 1.25s;
// }

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #007ad9;
  color: white;
}
