@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
// themes - our custom or/and out of the box themes
@import 'themes';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';
// loading progress bar theme
@import './pace.theme';
@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

;


* {
  outline: none;
}

body .ui-fieldset .ui-fieldset-legend a {
  padding: 0.571em 1em;
  border: 1px solid #c8c8c8;
  color: #333333;
  background-color: #f4f4f4;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
  outline: none;
}


body .ui-table .ui-table-thead > tr > th {
  padding: 0.571em 0.857em;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  color: #333333;
  background-color: #f4f4f4;
  text-align: center;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #007ad9;
  color: white;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #007ad9;
}

input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
  border-color: #dc3534;
}

//input.ng-valid,
//select.ng-valid {
//  border-color: #28a745;
//}

.red-icon {
  color: #dc3534;
}

.green-icon {
  color: #28a745;
}

.nb-theme-default nb-user.size-medium .user-name {
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: #28a745;
  text-transform: capitalize;
}

.nb-theme-default nb-user.shape-round .user-picture {
  border-radius: 50%;
  color: #28a745;
  border-color: #28a745;
}

.layout-container .content .columns nb-layout-column {
  order: 1;
  flex: 1 0;
  min-width: 0;
  background-image: url('assets/images/bg.jpeg');
  background-position: center;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #fff;
}

body .ui-table .ui-table-tbody > tr > td {
  background-color: inherit;
  border: 1px solid #c8c8c8;
  text-align: center;
}

.ui-table-scrollable-header-box {
  margin-right: 17px !important;
}

.ui-table-scrollable-body {
  margin-right: 17px !important;
}

///// this code below is for width of the scroll bar
::-webkit-scrollbar {
  width: 10px;
}

.ui-table-scrollable-header {
  overflow-y: scroll;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  body .ui-table .ui-table-thead > tr > th {
    padding: 0.1em 0.3em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333333;
    background-color: #f4f4f4;
    text-align: center;
    font-size: 11px;
  }
  body .ui-table .ui-table-tbody > tr > td {
    padding: 2px;
    font-size: 10px;
  }
}

.nb-theme-default nb-layout-header nav {
  background: #ffffff;
  color: #1a2138;
  box-shadow: 0 0.5rem 1rem 0
  rgba(44, 51, 73, 0.1);
  height: 3.75rem;
  padding: 1.25rem;
}
.ui-sidebar-left.ui-sidebar-active, .ui-sidebar-right.ui-sidebar-active {
  -ms-transform: translateX(0);
  transform: translateX(0);
  z-index: 1156;
  opacity: 1;
}

.nb-theme-default nb-layout-header.fixed ~ .layout-container {
  padding-top: 3.75rem;
  min-height: 100vh;
}
