@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};





body .ui-fieldset .ui-fieldset-legend a {
  padding: 0.571em 1em;
  border: 1px solid #c8c8c8;
  color: #333333;
  background-color: #f4f4f4;
  border-radius: 3px;
  transition: background-color 0.2s;
  text-decoration: none;
  outline: none;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active a,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active a,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active a {
  color: #ffffff;
  font-size: 11px;
  outline: none;

}

.ui-tabview .ui-tabview-nav li a,
.ui-tabview.ui-tabview-collapsible .ui-tabview-nav li.ui-tabview-selected a {
  cursor: pointer;
  font-size: 11px;
  outline: none;

}

body .ui-table .ui-table-thead > tr > th {

  padding: 0.571em 0.857em;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  color: #333333;
  background-color: #f4f4f4;
  font-size: 11px;
  text-align: center;

}

body .ui-table .ui-table-tbody > tr > td {
  background-color: inherit;
  border: 1px solid #c8c8c8;
  font-size: 10px;
  text-align: center;
}

a:hover,
a:active,
a:focus {
  outline: none;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}
