<div class="">
  <div class="row">
    <div class="col-md-3 animated fadeInLeft slow">
      <ngx-players-box-team [teamName]="this.matchService.match.teamA?.nameAr"
                            [teamData]="playersTeamA"></ngx-players-box-team>
    </div>
    <div class="col-md-6 animated fadeInDown slow">
      <ngx-youtube-player [allVideoURL]="allVideos"></ngx-youtube-player>
    </div>
    <div class="col-md-3 animated fadeInRight slow">
      <ngx-players-box-team [teamName]="this.matchService.match.teamB?.nameAr"
                            [teamData]="playersTeamB"></ngx-players-box-team>
    </div>
  </div>
</div>

<br>
<div class="animated fadeInUpBig slow">
  <ngx-action [groupId]="this.matchService.match.groupId" [categories]="categories"></ngx-action>
</div>
<br>
<div class="row">
  <div class="col-md-12 animated fadeInUp slower">
    <p-panel header="Events" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      <p-table #dt [value]="attacks" sortField="duration" sortMode="single" (onSort)="onSort()">
        <ng-template pTemplate="header" let-rowData>
          <tr>
            <th [pSortableColumn]="'duration'">
              Duration
              <p-sortIcon [field]="'duration'" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th>
              Team A
            </th>
            <th [pSortableColumn]="'actionOFTeamA'">
              Action
              <p-sortIcon [field]="'actionOFTeamA'" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

            </th>
            <th [pSortableColumn]="'playerAName'">
              Player Name
              <p-sortIcon [field]="'playerAName'" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'timeInVideo'">
              Minute
              <p-sortIcon [field]="'timeInVideo'" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'taktikOfTeamA'">
              Taktik
              <p-sortIcon [field]="'taktikOfTeamA'" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th>Team B</th>
            <th [pSortableColumn]="'actionOFTeamB'">
              Action
              <p-sortIcon [field]="'actionOFTeamB'" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'playerBName'">
              Player Name
              <p-sortIcon [field]="'playerBName'" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'taktikOfTeamB'">
              Taktik
              <p-sortIcon [field]="'taktikOfTeamB'" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th>
              <i class="fas fa-toolbox fa-2x text-warning"></i>
            </th>
          </tr>
          <tr>
            <th>
              <input class="form-control" type="text"
                     (input)="dt.filter($event.target.value, 'duration', 'contains')">
            </th>
            <th></th>
            <th>
              <input class="form-control" type="text"
                     (input)="dt.filter($event.target.value, 'actionOFTeamA', 'contains')">
            </th>
            <th>
              <input class="form-control" type="text"
                     (input)="dt.filter($event.target.value, 'playerAName', 'contains')">
            </th>
            <th>
              <input class="form-control" type="text"
                     (input)="dt.filter($event.target.value, 'timeInVideo', 'contains')">
            </th>
            <th>
              <input class="form-control" type="text"
                     (input)="dt.filter($event.target.value, 'taktikOfTeamA', 'contains')">
            </th>
            <th></th>
            <th>
              <input class="form-control" type="text"
                     (input)="dt.filter($event.target.value, 'actionOFTeamB', 'contains')">
            </th>
            <th>
              <input class="form-control" type="text"
                     (input)="dt.filter($event.target.value, 'playerBName', 'contains')">
            </th>
            <th>
              <input class="form-control" type="text"
                     (input)="dt.filter($event.target.value, 'taktikOfTeamB', 'contains')">
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr>
            <td *ngIf="rowGroupMetadata[rowData.duration].index === rowIndex"
                [attr.rowspan]="rowGroupMetadata[rowData.duration].size">
              {{rowData.duration}}
            </td>
            <td>{{rowData.teamA}}</td>
            <td>{{rowData.actionOFTeamA}}</td>
            <td>{{rowData.playerAName}}</td>
            <td>{{rowData.timeInVideo}}</td>
            <td>{{rowData.taktikOfTeamA}}</td>
            <td>{{rowData.teamB}}</td>
            <td>{{rowData.playerBName}}</td>
            <td>{{rowData.actionOFTeamB}}</td>
            <td>{{rowData.taktikOfTeamB}}</td>
            <td *ngIf="rowGroupMetadata[rowData.duration].index === rowIndex"
                [attr.rowspan]="rowGroupMetadata[rowData.duration].size">
              <button class="btn btn-outline-primary btn-sm m-2"><i class="fas fa-play"></i></button>
              <button class="btn btn-outline-danger btn-sm m-2"><i class="fas fa-ban"></i></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
