<br>
<div class="row">
  <div class="col-md-12">
    <p-panel>
      <p-header>
        <div class="ui-helper-clearfix">
          <span class="ui-panel-title"
                style="font-size:16px; display:inline-block; margin-top:2px;">{{pageName}}</span>
          <button class="btn btn-outline-primary btn-sm float-right" (click)="showCategoryDialog()"><i
            class="fa fa-plus"></i> Add New Category
          </button>
        </div>
      </p-header>
      <div class="row">
        <div class="col-md-6">
          <p-panel>
            <p-header>
              <div class="ui-helper-clearfix">
          <span class="ui-panel-title"
                style="font-size:16px; display:inline-block; margin-top:2px;">Category Name</span>
                <p-splitButton [style]="{'float':'right'}" label="Add New Action" icon="pi pi-plus"
                               [model]="actionsTypeFunctionality" (onClick)="addNewCategoryActionDialog()"
                               appendTo="body"></p-splitButton>
              </div>
            </p-header>
            <div class="row">
              <div class="col-md-3 mb-2">
                <p-splitButton label="Kick Off" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>

              </div>

              <div class="col-md-3">
                <p-splitButton label="Corner" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Throw In" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Penalty" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Free Kick" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Goal Kick" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
            </div>
          </p-panel>
          <br>
        </div>
        <div class="col-md-6">
          <p-panel>
            <p-header>
              <div class="ui-helper-clearfix">
          <span class="ui-panel-title"
                style="font-size:16px; display:inline-block; margin-top:2px;">Category Name</span>
                <p-splitButton [style]="{'float':'right'}" label="Add New Action" icon="pi pi-plus"
                               [model]="actionsTypeFunctionality" (onClick)="addNewCategoryActionDialog()"
                               appendTo="body"></p-splitButton>
              </div>
            </p-header>
            <div class="row">
              <div class="col-md-3 mb-2">
                <p-splitButton label="Kick Off" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>

              </div>

              <div class="col-md-3">
                <p-splitButton label="Corner" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Throw In" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Penalty" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Free Kick" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Goal Kick" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
            </div>
          </p-panel>
          <br>
        </div>
        <div class="col-md-6">
          <p-panel>
            <p-header>
              <div class="ui-helper-clearfix">
          <span class="ui-panel-title"
                style="font-size:16px; display:inline-block; margin-top:2px;">Category Name</span>
                <p-splitButton [style]="{'float':'right'}" label="Add New Action" icon="pi pi-plus"
                               [model]="actionsTypeFunctionality" (onClick)="addNewCategoryActionDialog()"
                               appendTo="body"></p-splitButton>
              </div>
            </p-header>
            <div class="row">
              <div class="col-md-3 mb-2">
                <p-splitButton label="Kick Off" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>

              </div>

              <div class="col-md-3">
                <p-splitButton label="Corner" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Throw In" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Penalty" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Free Kick" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Goal Kick" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
            </div>
          </p-panel>
          <br>
        </div>
        <div class="col-md-6">
          <p-panel>
            <p-header>
              <div class="ui-helper-clearfix">
          <span class="ui-panel-title"
                style="font-size:16px; display:inline-block; margin-top:2px;">Category Name</span>
                <p-splitButton [style]="{'float':'right'}" label="Add New Action" icon="pi pi-plus"
                               [model]="actionsTypeFunctionality" (onClick)="addNewCategoryActionDialog()"
                               appendTo="body"></p-splitButton>
              </div>
            </p-header>
            <div class="row">
              <div class="col-md-3 mb-2">
                <p-splitButton label="Kick Off" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>

              </div>

              <div class="col-md-3">
                <p-splitButton label="Corner" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Throw In" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Penalty" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Free Kick" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Goal Kick" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
            </div>
          </p-panel>
          <br>
        </div>
        <div class="col-md-6">
          <p-panel>
            <p-header>
              <div class="ui-helper-clearfix">
          <span class="ui-panel-title"
                style="font-size:16px; display:inline-block; margin-top:2px;">Category Name</span>
                <p-splitButton [style]="{'float':'right'}" label="Add New Action" icon="pi pi-plus"
                               [model]="actionsTypeFunctionality" (onClick)="addNewCategoryActionDialog()"
                               appendTo="body"></p-splitButton>
              </div>
            </p-header>
            <div class="row">
              <div class="col-md-3 mb-2">
                <p-splitButton label="Kick Off" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>

              </div>

              <div class="col-md-3">
                <p-splitButton label="Corner" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Throw In" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Penalty" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Free Kick" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Goal Kick" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
            </div>
          </p-panel>
          <br>
        </div>
        <div class="col-md-6">
          <p-panel>
            <p-header>
              <div class="ui-helper-clearfix">
          <span class="ui-panel-title"
                style="font-size:16px; display:inline-block; margin-top:2px;">Category Name</span>
                <p-splitButton [style]="{'float':'right'}" label="Add New Action" icon="pi pi-plus"
                               [model]="actionsTypeFunctionality" (onClick)="addNewCategoryActionDialog()"
                               appendTo="body"></p-splitButton>
              </div>
            </p-header>
            <div class="row">
              <div class="col-md-3 mb-2">
                <p-splitButton label="Kick Off" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>

              </div>

              <div class="col-md-3">
                <p-splitButton label="Corner" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Throw In" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Penalty" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Free Kick" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Goal Kick" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
            </div>
          </p-panel>
          <br>
        </div>
      </div>
    </p-panel>
  </div>
</div>


<!--New Category-->
<p-dialog header="Category" [(visible)]="displayCategory" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000" appendTo="body">
  <p>New Category</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayCategory=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="displayCategory=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<!--Add & Update Category Action-->
<p-dialog header="Category Action" [(visible)]="displayAddUpdateCategory" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000" appendTo="body">
  <p>Add & Update Category Action</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayAddUpdateCategory=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="displayAddUpdateCategory=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
<!--Delete Category Action-->
<p-dialog header="Category Action" [(visible)]="displayDeleteCategoryAction" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000" appendTo="body">
  <p>Delete Category Action</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayDeleteCategoryAction=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="displayDeleteCategoryAction=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
<!--Update Button-->
<p-dialog header="Button Action" [(visible)]="displayUpdateButton" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000" appendTo="body">
  <p>Update Button</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayUpdateButton=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="displayUpdateButton=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
<!--Delete Button-->
<p-dialog header="Button Action" [(visible)]="displayDeleteButton" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000" appendTo="body">
  <p>Delete Button</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayDeleteButton=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="displayDeleteButton=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
