<br>

<div class="row">
  <div class="col-md-12">
    <p-panel  header="Actions" [toggleable]="true">
      <p-panel>
        <p-header>
          <div class="ui-helper-clearfix">
          <span class="ui-panel-title"
                style="font-size:16px; display:inline-block; margin-top:2px;">{{pageName}}</span>
            <button class="btn btn-outline-primary btn-sm float-right"
                    (click)="showCategoryDialog();categoriesForm.resetForm()"><i
              class="fa fa-plus"></i> Add New Category
            </button>
            <button *ngIf="hasDefault === -1" (click)="addDefaultCategories()"
                    class="btn btn-outline-success mr-2 float-right btn-sm" data-toggle="tooltip" data-placement="top"
                    title="(Start , End , End With Action , Penalties)"><i
              class="fa fa-plus"></i> Default Categories
            </button>
          </div>
        </p-header>
        <div class="row">
          <div class="col-md-4" *ngFor="let item of categories">
            <p-panel>
              <p-header>
                <div class="ui-helper-clearfix">
          <span class="ui-panel-title"
                style="font-size:16px; display:inline-block; margin-top:2px;" [innerText]="item.nameEn"></span>
                  <button class="btn btn-outline-danger btn-sm float-right mr-1 ml-1"
                          (click)="deleteCategoryActionDialog(item.id)"><i
                    class="fas fa-ban"></i></button>
                  <button class="btn btn-outline-secondary btn-sm float-right mr-1 ml-1"
                          (click)="updateNewCategoryActionDialog(item)"><i class="fas fa-pen"></i></button>
                  <button class="btn btn-outline-primary btn-sm float-right mr-1 ml-1"
                          (click)="addNewCategoryActionDialog(item.id,item.type);actionForm.resetForm();"><i
                    class="fas fa-plus"></i></button>
                </div>
              </p-header>
              <div class="row">
                <div class=" text-center m-2" *ngFor="let x of item.actions">
                  <div class="btn-group dropright">
                    <button type="button" class="btn btn-light btn-sm"
                            [ngClass]="{'btn-primary': selectedIndex === x.id, 'btn-light' : selectedIndex !== x.id}"
                            (click)="onActionClick(x)">
                      {{x.nameEn}}
                    </button>
                    <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropright</span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item text-primary" *ngIf="x?.childActions?.length > 0"
                         (click)="showChildActions(x.id , x.nameEn);childActionForm.resetForm()">
                        <i class="far fa-eye"></i>
                        Show Zone</a>
                      <a class="dropdown-item text-dark" (click)="updateButton(x)"><i class="far fa-edit"></i> Update
                        Action</a>
                      <a class="dropdown-item text-danger" (click)="deleteButton(x)"> <i class="fas fa-ban"></i>
                        Delete Action</a>
                    </div>
                  </div>
                </div>
              </div>
            </p-panel>
            <br>
          </div>
        </div>
      </p-panel>
    </p-panel>

  </div>
</div>


<!--New Category-->
<p-dialog header="Category" [(visible)]="displayCategory" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [baseZIndex]="10000" appendTo="body">
  <form action="" #categoriesForm="ngForm" autocomplete="off" style="width: 99%;" (submit)="onSubmit()">
    <input type="hidden" name="id" [value]="categoryService.category.id">

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-paperclip" [class.green-icon]="nameAr.valid"
                   [class.red-icon]="nameAr.invalid && nameAr.touched"></i>
              </div>
            </div>
            <input id="nameAr" type="text" class="form-control" name="nameAr"
                   [(ngModel)]="categoryService.category.nameAr"
                   #nameAr="ngModel" placeholder="Insert Name In Arabic" required>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-paperclip" [class.green-icon]="nameEn.valid"
                   [class.red-icon]="nameEn.invalid && nameEn.touched"></i>
              </div>
            </div>
            <input id="nameEn" type="text" class="form-control" name="nameEn"
                   [(ngModel)]="categoryService.category.nameEn"
                   #nameEn="ngModel" placeholder="Insert Name In English" required>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-swatchbook" [class.green-icon]="type.valid"
                 [class.red-icon]="type.invalid && type.touched"></i>
            </div>
          </div>
          <select class="custom-select" name="type" [(ngModel)]="categoryService.category.type" required #type="ngModel"
                  id="inputGroupsSelect01">
            <option disabled selected>Choose The Action Type</option>
            <option value="1">Start</option>
            <option value="2">End</option>
            <option value="3">End With Action</option>
            <option value="4">Tactics</option>
            <option value="5">Penalties</option>
          </select>
        </div>
      </div>
      <br>
      <div class="col-md-12">
        <button class="btn btn-outline-success btn-block btn-sm" type="submit" [disabled]="categoriesForm.invalid"><i
          class="far fa-check-square"></i> Submit
        </button>
      </div>
    </div>

  </form>

</p-dialog>

<!--Add & Update Category Action-->
<p-dialog header="Action" [(visible)]="displayAddUpdateCategory" [modal]="true" [responsive]="true"
          [style]="{width: '650px', minWidth: '200px'}" [minY]="70"
          [baseZIndex]="10000" appendTo="body">
  <form action="" style="width: 99%;" #actionForm="ngForm" autocomplete="off">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-file-import" [class.green-icon]="ActionNameAr.valid"
                   [class.red-icon]="ActionNameAr.invalid && ActionNameAr.touched"></i>
              </div>
            </div>
            <input id="ActionNameAr" name="nameAr" [(ngModel)]="actionService.action.nameAr" #ActionNameAr="ngModel"
                   type="text" class="form-control" placeholder="Insert Action Name In Arabic" required>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-file-import" [class.green-icon]="ActionNameEn.valid"
                   [class.red-icon]="ActionNameEn.invalid && ActionNameEn.touched"></i>
              </div>
            </div>
            <input id="ActionNameEn" name="nameEn" [(ngModel)]="actionService.action.nameEn" #ActionNameEn="ngModel"
                   type="text" class="form-control" placeholder="Insert Action Name In English" required>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn btn-outline-success btn-block btn-sm" type="submit" [disabled]="!actionForm.valid"
                (click)="onActionSubmit()">
          <i class="far fa-check-square"></i> Submit
        </button>
      </div>
    </div>
  </form>
</p-dialog>
<!--Delete Category Action-->
<p-dialog header="Category Action" [(visible)]="displayDeleteCategoryAction" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [baseZIndex]="10000" appendTo="body">
  <div class="text-center">
    <i class="fas fa-exclamation-circle fa-4x text-danger "></i>
  </div>
  <br>
  <h6 class="text-center">
    Are You Sure To Delete This Category?!
  </h6>
  <br>
  <button class="btn btn-outline-danger btn-sm btn-block" type="submit" (click)="deleteCategory()"><i
    class="fas fa-bomb"></i>
    Delete
  </button>
</p-dialog>

<!--Delete Button-->
<p-dialog header="Button Action" [(visible)]="displayDeleteButton" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [baseZIndex]="10000" appendTo="body">
  <div class="text-center">
    <i class="fas fa-exclamation-circle fa-4x text-danger "></i>
  </div>
  <br>
  <h6 class="text-center">
    Are You Sure To Delete This Button?!
  </h6>
  <br>
  <button class="btn btn-outline-danger btn-sm btn-block" type="submit" (click)="onActionDelete()"><i
    class="fas fa-bomb"></i>
    Delete
  </button>
</p-dialog>

<!--Child Actions-->
<p-dialog header="{{childActionName}}" [(visible)]="displayChildActions" [modal]="true" [responsive]="true"
          [style]="{width: '850px', minWidth: '200px'}" [minY]="70"
          [baseZIndex]="10000" appendTo="body">
  <div class="row text-center" style="width: 99%;">
    <div class="col-md-12">
      <form action="" #childActionForm="ngForm" autocomplete="off">
        <input type="hidden" name="id" [value]="childActionService.childAction.id">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white">
                    <i class="fas fa-allergies" [class.green-icon]="childAr.valid"
                       [class.red-icon]="childAr.invalid && childAr.touched"></i>
                  </div>
                </div>
                <input id="childAr" name="nameAr" [(ngModel)]="childActionService.childAction.nameAr" #childAr="ngModel"
                       type="text" class="form-control" placeholder="Insert Action Name In English" required>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white">
                    <i class="fas fa-allergies" [class.green-icon]="childActionEn.valid"
                       [class.red-icon]="childActionEn.invalid && childActionEn.touched"></i>
                  </div>
                </div>
                <input id="childActionNameEn" name="nameEn" [(ngModel)]="childActionService.childAction.nameEn"
                       #childActionEn="ngModel"
                       type="text" class="form-control" placeholder="Insert Child Action Name In English" required>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn btn-outline-success" type="submit" [disabled]="!childActionForm.valid"
                    (click)="onSubmitChildAction(childActionForm)">
              <i class="far fa-check-square"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <p-table [columns]="cols" [value]="childAction">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th style="width: 140px;">
          Action
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td class="text-center">
          <button class="btn btn-outline-secondary btn-sm" (click)="populateChildActionForm(rowData)"><i
            class="far fa-edit"></i></button>
          <button class="btn btn-outline-danger ml-3 btn-sm" (click)="onChildActionDelete(rowData.id)"><i
            class="fas fa-ban"></i></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
