.dropdown-item {
  cursor: pointer;
  text-align: center;
}

.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon {
  width: 100% !important;
}


span.pi-minus {
  float: right !important;
}

span.pi-plus {
  float: right !important;
}
