<br>
<div class="row">
  <div class="col-md-12">
    <p-panel>
      <p-header>
        <div class="ui-helper-clearfix">
          <span class="ui-panel-title"
                style="font-size:16px; display:inline-block; margin-top:2px;">{{pageName}}</span>
          <button class="btn btn-outline-primary btn-sm float-right" (click)="showCategoryDialog();categoriesForm.resetForm()"><i
            class="fa fa-plus"></i> Add New Category
          </button>
        </div>
      </p-header>
      <div class="row">
        <div class="col-md-6" *ngFor="let item of categories">
          <p-panel>
            <p-header>
              <div class="ui-helper-clearfix">
          <span class="ui-panel-title"
                style="font-size:16px; display:inline-block; margin-top:2px;">{{item.nameAr}}</span>
                <button class="btn btn-outline-danger btn-sm float-right mr-1 ml-1"
                        (click)="deleteCategoryActionDialog(item.id)"><i
                  class="fas fa-ban"></i></button>
                <button class="btn btn-outline-secondary btn-sm float-right mr-1 ml-1"
                        (click)="updateNewCategoryActionDialog(item)"><i class="fas fa-pen"></i></button>
                <button class="btn btn-outline-primary btn-sm float-right mr-1 ml-1"
                        (click)="addNewCategoryActionDialog()"><i
                  class="fas fa-plus"></i></button>
              </div>
            </p-header>
            <div class="row">
              <div class="col-md-3 mb-2">
                <p-splitButton label="Kick Off" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Corner" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Throw In" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Penalty" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Free Kick" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
              <div class="col-md-3">
                <p-splitButton label="Goal Kick" [model]="buttonsItems"
                               styleClass="ui-button-secondary" appendTo="body"></p-splitButton>
              </div>
            </div>
          </p-panel>
          <br>
        </div>
      </div>
    </p-panel>
  </div>
</div>


<!--New Category-->
<p-dialog header="Category" [(visible)]="displayCategory" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [baseZIndex]="10000" appendTo="body">
  <form action="" #categoriesForm="ngForm" autocomplete="off" style="width: 99%;" (submit)="onSubmit()">
    <input type="hidden" name="id" [value]="categoryService.category.id">

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-paperclip" [class.green-icon]="nameAr.valid"
                   [class.red-icon]="nameAr.invalid && nameAr.touched"></i>
              </div>
            </div>
            <input id="nameAr" type="text" class="form-control" name="nameAr"
                   [(ngModel)]="categoryService.category.nameAr"
                   #nameAr="ngModel" placeholder="Insert Name In Arabic" required>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-paperclip" [class.green-icon]="nameEn.valid"
                   [class.red-icon]="nameEn.invalid && nameEn.touched"></i>
              </div>
            </div>
            <input id="nameEn" type="text" class="form-control" name="nameEn"
                   [(ngModel)]="categoryService.category.nameEn"
                   #nameEn="ngModel" placeholder="Insert Name In English" required>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-12">
        <button class="btn btn-outline-success btn-block btn-sm" type="submit" [disabled]="categoriesForm.invalid"><i
          class="far fa-check-square"></i> Submit
        </button>
      </div>
    </div>

  </form>

</p-dialog>

<!--Add & Update Category Action-->
<p-dialog header="Category Action" [(visible)]="displayAddUpdateCategory" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000" appendTo="body">
  <p>Add & Update Category Action</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayAddUpdateCategory=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="displayAddUpdateCategory=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
<!--Delete Category Action-->
<p-dialog header="Category Action" [(visible)]="displayDeleteCategoryAction" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [baseZIndex]="10000" appendTo="body">
  <div class="text-center">
    <i class="fas fa-exclamation-circle fa-4x text-danger "></i>
  </div>
  <br>
  <h6 class="text-center">
    Are You Sure To Delete This Category?!
  </h6>
  <br>
  <button class="btn btn-outline-danger btn-sm btn-block" type="submit" (click)="deleteCategory()"><i
    class="fas fa-bomb"></i>
    Delete
  </button>
</p-dialog>
<!--Update Button-->
<p-dialog header="Button Action" [(visible)]="displayUpdateButton" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000" appendTo="body">
  <p>Update Button</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayUpdateButton=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="displayUpdateButton=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
<!--Delete Button-->
<p-dialog header="Button Action" [(visible)]="displayDeleteButton" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000" appendTo="body">
  <p>Delete Button</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayDeleteButton=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="displayDeleteButton=false" label="No"
            class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
