.dropdown-item {
  cursor: pointer;
  text-align: center;
}

.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon {
  width: 100% !important;
}


span.pi-minus {
  float: right !important;
}

span.pi-plus {
  float: right !important;
}

.rowHeight {
  height: 450px;
  overflow: auto;
  width: 100%;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .rowHeight {
    height: 250px;
    overflow: auto;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .rowHeight {
    height: 250px;
    overflow: auto;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .rowHeight {
    height: 250px;
    overflow: auto;
    width: 100%;
  }
}
