<div class="container emp-profile">
  <form method="post">
    <div class="row animated fadeInDown slower">
      <div class="col-md-4">
        <div class="profile-img">
          <img class="img-thumbnail"
               [src]="userData?.profilePath!= null ?  userData?.profilePath.includes('data:image')?userData.profilePath:apiEndPoint + userData?.profilePath: '../assets/images/default-avatar-png-5.png'"
               alt=""/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{userData?.name}}
          </h5>
          <h6>
            {{subscription?.nameAr}}
          </h6>
          <p class="proile-rating">Matches : <span> {{subscription.matchesCount}}
            /{{userData?.matchesCount}}</span>
          </p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                 aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                 aria-selected="false">Subscription</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2" *ngIf="isUser">
        <button class="btn btn-outline-secondary btn-sm" (click)="showUserAccountDialog(userData)"><i
          class="far fa-edit"></i>
          Edit Profile
        </button>
      </div>
    </div>
    <div class="row animated fadeInUp slower">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>User Name</label>
              </div>
              <div class="col-md-6">
                <p>{{userData?.userName}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p>{{userData?.name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{userData?.email}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p>{{userData?.phoneNumber}}</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Package Name</label>
              </div>
              <div class="col-md-6">
                <p>{{subscription.nameAr}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Total Matches</label>
              </div>
              <div class="col-md-6">
                <p>{{subscription.matchesCount}} Matchs</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Number Of Matches</label>
              </div>
              <div class="col-md-6">
                <p>{{userData?.matchesCount}} Matchs</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>Your Details</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


<p-dialog header="{{userData?.name}}" [(visible)]="displayUserAccountProfile" [modal]="true" [responsive]="true"
          [minY]="70" appendTo="body" [style]="{width: '750px', minWidth: '600px'}"
          [baseZIndex]="10000">
  <form action="" style="width: 99%;">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="float-right">
          <button class="btn btn-outline-success btn-sm" (click)="showUserAccountImageDialog()"><i
            class="fas fa-camera-retro"></i> Upload Image
          </button>
        </div>
        <img
          [src]="userAccountService.userAccount?.profilePath!= null ?  userAccountService.userAccount?.profilePath.includes('data:image')?userAccountService.userAccount.profilePath:apiEndPoint + userAccountService.userAccount?.profilePath: '../assets/images/default-avatar-png-5.png'"
          class="img-thumbnail m-4" alt="{{userData?.name}}">
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-signature" [class.green-icon]="name.valid"
                   [class.red-icon]="name.invalid && name.touched"></i>
              </div>
            </div>
            <input id="nameAr" type="text" class="form-control" name="name"
                   [(ngModel)]="userAccountService.userAccount.name"
                   #name="ngModel" placeholder="Insert Your Name" required>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-phone-volume" [class.green-icon]="phoneNumber.valid"
                   [class.red-icon]="phoneNumber.invalid && phoneNumber.touched"></i>
              </div>
            </div>
            <input id="phone" type="text" class="form-control" name="phoneNumber"
                   [(ngModel)]="userAccountService.userAccount.phoneNumber"
                   #phoneNumber="ngModel" placeholder="Insert Your Phone" required>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn btn-outline-success btn-block btn-sm" (click)="updateUser()">
          <i class="far fa-check-square"></i> Submit
        </button>
      </div>
    </div>
  </form>
</p-dialog>


<p-dialog header="{{userData?.name}} Image" [(visible)]="displayUserAccountProfileImage" [modal]="true"
          [responsive]="true"
          [minY]="70" appendTo="body" [style]="{width: '850px', minWidth: '700px'}"
          [baseZIndex]="10000">
  <div class="row" style="width: 99%;">
    <div class="col-md-12">
      <ngx-image-cropper [onCropperWidth]="150" [onCropperHeight]="150"
                         (imgCropper)="displayImg($event)"></ngx-image-cropper>
    </div>
  </div>
  <br>
  <button class="btn btn-outline-success btn-block btn-sm" (click)="this.displayUserAccountProfileImage = false;">
    <i class="far fa-check-square"></i> Submit
  </button>
</p-dialog>
